{"swagger":"2.0","info":{"title":"","version":"v2"},"host":"api.gateway.attomdata.com","basePath":"/property/v2","schemes":["https"],"tags":[],"paths":{"/salescomparables/address/{street}/{city}/{county}/{state}/{zip}":{"get":{"tags":["Sale Comparables"],"description":"Returns basic property information and sales comparables for the subject property based on ranges specified.","operationId":"5894d5d392c0ee0d4cc83a3f","summary":"Returns comparable sales for a property address.","parameters":[{"name":"apikey","description":"Application Key","type":"string","in":"header","default":"","x-data-threescale-name":"user_keys"},{"name":"street","in":"path","description":"Subject property: Street address","required":true,"type":"string","default":"11235 S STEWART AVE"},{"name":"city","in":"path","description":"Subject property: City name. Use \"-\" to skip.","required":true,"type":"string","default":"Chicago"},{"name":"county","in":"path","description":"Subject property: County name. Use \"-\" to skip.","required":true,"type":"string","default":"US"},{"name":"state","in":"path","description":"Subject property: State code. Use \"-\" to skip.","required":true,"type":"string","default":"IL"},{"name":"zip","in":"path","description":"Subject property: Zip code. Use \"-\" to skip.","required":true,"type":"string","default":"60628"},{"name":"searchType","in":"query","description":"Search Method: Search type [Radius | ApnBookAndPage | ApnBook | ZipCode | SubdivisionTract | Countywide]. (Default: Radius)","type":"string","default":"Radius","enum":["Radius","ApnBookAndPage","ApnBook","ZipCode","SubdivisionTract","Countywide"]},{"name":"minComps","in":"query","description":"Format - int32. Search Method: Min Comps Nr. (Default: 1)","type":"integer","default":"1"},{"name":"maxComps","in":"query","description":"Format - int32. Search Method: Max Comps Nr. (Default: 10)","type":"integer","default":"10"},{"name":"miles","in":"query","description":"Format - double. Search Method: Miles. (Default: 5)","type":"number","default":"5"},{"name":"sameCity","in":"query","description":"Search Method: Same City. (Default: False)","type":"boolean","default":"False","enum":["True","False"]},{"name":"useSameTargetCode","in":"query","description":"Use Code: Use Code Same as Target Property. (Default: True)","type":"boolean","default":"True","enum":["True","False"]},{"name":"useCode","in":"query","description":"Use Code: Selected Use Codes. (Default: NULL)","type":"string","default":""},{"name":"bedroomsRange","in":"query","description":"Format - int32. Property Characteristics: Bedrooms Range. (Default: 2)","type":"integer","default":"2"},{"name":"bathroomRange","in":"query","description":"Format - int32. Property Characteristics: Bathrooms Range. (Default: 2)","type":"integer","default":"2"},{"name":"sqFeetRange","in":"query","description":"Format - int32. Property Characteristics: Square Feet Range. (Default: 600)","type":"integer","default":"600"},{"name":"lotSizeRange","in":"query","description":"Format - int32. Property Characteristics: Lot Size Range. (Default: 2000)","type":"integer","default":"2000"},{"name":"onlyPropertiesWithPool","in":"query","description":"Property Characteristics: Only Properties With Pool. (Default: False)","type":"boolean","default":"False","enum":["True","False"]},{"name":"saleDateRange","in":"query","description":"Format - int32. Property Characteristics: Sale Date Range in months. (Default: 6)","type":"integer","default":"6"},{"name":"saleAmountRangeFrom","in":"query","description":"Format - int32. Property Characteristics: Sale Amount Range From. (Default: NULL)","type":"integer"},{"name":"saleAmountRangeTo","in":"query","description":"Format - int32. Property Characteristics: Sale Amount Range To. (Default: NULL)","type":"integer"},{"name":"unitNumberRange","in":"query","description":"Format - int32. Property Characteristics: Units Nr Range. (Default: NULL)","type":"integer"},{"name":"yearBuiltRange","in":"query","description":"Format - int32. Property Characteristics: Year Built Range. (Default: 10)","type":"integer","default":"10"},{"name":"storiesRange","in":"query","description":"Format - int32. Property Characteristics: Stories Range. (Default: NULL)","type":"integer"},{"name":"include0SalesAmounts","in":"query","description":"Options: Include 0 Or Unknown Sales Amounts. (Default: True)","type":"boolean","default":"True","enum":["True","False"]},{"name":"includeFullSalesOnly","in":"query","description":"Options: Include Full Sales Only. (Default: False)","type":"boolean","default":"False","enum":["True","False"]},{"name":"ownerOccupied","in":"query","description":"Options: Owner Occupied [ IncludeOwnerOccupiedOnly | IncludeAbsentOwnerOnly | Both]. (Default: Both)","type":"string","default":"Both","enum":["IncludeOwnerOccupiedOnly","IncludeAbsentOwnerOnly","Both"]},{"name":"distressed","in":"query","description":"Options: Distressed [ExcludeDistressed | OnlyDistressed | IncludeDistressed]. (Default: IncludeDistressed)","type":"string","default":"IncludeDistressed","enum":["ExcludeDistressed","OnlyDistressed","IncludeDistressed"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ValidResponse[PropertyData[ProductInfoDataSalesComp]]"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorResponse"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/ErrorResponse"}},"408":{"description":"Request timeout","schema":{"$ref":"#/definitions/ErrorResponse"}},"429":{"description":"Too many requests","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Internal error","schema":{"$ref":"#/definitions/ErrorResponse"}}},"produces":["application/json","text/xml","text/json","application/xml"]}},"/salescomparables/apn/{apn}/{county}/{state}":{"get":{"tags":["Sale Comparables"],"description":"Returns basic property information and sales comparables for the subject property based on ranges specified.","operationId":"58e2e32292c0ee0d88591697","summary":"Returns comparable sales for a property identified by APN (Assessor's Parcel Number).","parameters":[{"name":"apikey","description":"Application Key","type":"string","in":"header","default":"","x-data-threescale-name":"user_keys"},{"name":"apn","in":"path","description":"APN value","required":true,"type":"string","default":"93183950"},{"name":"county","in":"path","description":"Subject property: County name","required":true,"type":"string","default":"Orange"},{"name":"state","in":"path","description":"Subject property: State code","required":true,"type":"string","default":"CA"},{"name":"searchType","in":"query","description":"Search Method: Search type [Radius | ApnBookAndPage | ApnBook | ZipCode | SubdivisionTract | Countywide]. (Default: Radius)","type":"string","default":"Radius","enum":["Radius","ApnBookAndPage","ApnBook","ZipCode","SubdivisionTract","Countywide"]},{"name":"minComps","in":"query","description":"Format - int32. Search Method: Min Comps Nr. (Default: 1)","type":"integer","default":"1"},{"name":"maxComps","in":"query","description":"Format - int32. Search Method: Max Comps Nr. (Default: 10)","type":"integer","default":"10"},{"name":"miles","in":"query","description":"Format - double. Search Method: Miles. (Default: 5)","type":"number","default":"5"},{"name":"sameCity","in":"query","description":"Search Method: Same City. (Default: False)","type":"boolean","default":"False","enum":["True","False"]},{"name":"useSameTargetCode","in":"query","description":"Use Code: Use Code Same as Target Property. (Default: True)","type":"boolean","default":"True","enum":["True","False"]},{"name":"useCode","in":"query","description":"Use Code: Selected Use Codes. (Default: NULL)","type":"string","default":""},{"name":"bedroomsRange","in":"query","description":"Format - int32. Property Characteristics: Bedrooms Range. (Default: 2)","type":"integer","default":"2"},{"name":"bathroomRange","in":"query","description":"Format - int32. Property Characteristics: Bathrooms Range. (Default: 2)","type":"integer","default":"2"},{"name":"sqFeetRange","in":"query","description":"Format - int32. Property Characteristics: Square Feet Range. (Default: 600)","type":"integer","default":"600"},{"name":"lotSizeRange","in":"query","description":"Format - int32. Property Characteristics: Lot Size Range. (Default: 2000)","type":"integer","default":"2000"},{"name":"onlyPropertiesWithPool","in":"query","description":"Property Characteristics: Only Properties With Pool. (Default: False)","type":"boolean","default":"False","enum":["True","False"]},{"name":"saleDateRange","in":"query","description":"Format - int32. Property Characteristics: Sale Date Range in months. (Default: 6)","type":"integer","default":"6"},{"name":"saleAmountRangeFrom","in":"query","description":"Format - int32. Property Characteristics: Sale Amount Range From. (Default: NULL)","type":"integer"},{"name":"saleAmountRangeTo","in":"query","description":"Format - int32. Property Characteristics: Sale Amount Range To. (Default: NULL)","type":"integer"},{"name":"unitNumberRange","in":"query","description":"Format - int32. Property Characteristics: Units Nr Range. (Default: NULL)","type":"integer"},{"name":"yearBuiltRange","in":"query","description":"Format - int32. Property Characteristics: Year Built Range. (Default: 10)","type":"integer","default":"10"},{"name":"storiesRange","in":"query","description":"Format - int32. Property Characteristics: Stories Range. (Default: NULL)","type":"integer"},{"name":"include0SalesAmounts","in":"query","description":"Options: Include 0 Or Unknown Sales Amounts. (Default: True)","type":"boolean","default":"True","enum":["True","False"]},{"name":"includeFullSalesOnly","in":"query","description":"Options: Include Full Sales Only. (Default: False)","type":"boolean","default":"False","enum":["True","False"]},{"name":"ownerOccupied","in":"query","description":"Options: Owner Occupied [ IncludeOwnerOccupiedOnly | IncludeAbsentOwnerOnly | Both]. (Default: Both)","type":"string","default":"Both","enum":["IncludeOwnerOccupiedOnly","IncludeAbsentOwnerOnly","Both"]},{"name":"distressed","in":"query","description":"Options: Distressed [ExcludeDistressed | OnlyDistressed | IncludeDistressed]. (Default: IncludeDistressed)","type":"string","default":"IncludeDistressed","enum":["ExcludeDistressed","OnlyDistressed","IncludeDistressed"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ValidResponse[PropertyData[ProductInfoDataSalesComp]]"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorResponse"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/ErrorResponse"}},"408":{"description":"Request timeout","schema":{"$ref":"#/definitions/ErrorResponse"}},"429":{"description":"Too many requests","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Internal error","schema":{"$ref":"#/definitions/ErrorResponse"}}},"produces":["application/json","text/xml","text/json","application/xml"]}},"/salescomparables/propid/{propId}":{"get":{"tags":["Sale Comparables"],"description":"Returns basic property information and sales comparables for the subject property based on ranges specified.","operationId":"5894d5d392c0ee0d4cc83a40","summary":"Returns comparable sales for a property identified by PropId (ATTOM ID).","parameters":[{"name":"apikey","description":"Application Key","type":"string","in":"header","default":"","x-data-threescale-name":"user_keys"},{"name":"propId","in":"path","description":"Format - int32. Property Parcel ID","required":true,"type":"integer","default":"20823815"},{"name":"searchType","in":"query","description":"Search Method: Search type [Radius | ApnBookAndPage | ApnBook | ZipCode | SubdivisionTract | Countywide]. (Default: Radius)","type":"string","default":"Radius","enum":["Radius","ApnBookAndPage","ApnBook","ZipCode","SubdivisionTract","Countywide"]},{"name":"minComps","in":"query","description":"Format - int32. Search Method: Min Comps Nr. (Default: 1)","type":"integer","default":"1"},{"name":"maxComps","in":"query","description":"Format - int32. Search Method: Max Comps Nr. (Default: 10)","type":"integer","default":"10"},{"name":"miles","in":"query","description":"Format - double. Search Method: Miles. (Default: 5)","type":"number","default":"5"},{"name":"sameCity","in":"query","description":"Search Method: Same City. (Default: False)","type":"boolean","default":"False","enum":["True","False"]},{"name":"useSameTargetCode","in":"query","description":"Use Code: Use Code Same as Target Property. (Default: True)","type":"boolean","default":"True","enum":["True","False"]},{"name":"useCode","in":"query","description":"Use Code: Selected Use Codes. (Default: NULL)","type":"string","default":""},{"name":"bedroomsRange","in":"query","description":"Format - int32. Property Characteristics: Bedrooms Range. (Default: 2)","type":"integer","default":"2"},{"name":"bathroomRange","in":"query","description":"Format - int32. Property Characteristics: Bathrooms Range. (Default: 2)","type":"integer","default":"2"},{"name":"sqFeetRange","in":"query","description":"Format - int32. Property Characteristics: Square Feet Range. (Default: 600)","type":"integer","default":"600"},{"name":"lotSizeRange","in":"query","description":"Format - int32. Property Characteristics: Lot Size Range. (Default: 2000)","type":"integer","default":"2000"},{"name":"onlyPropertiesWithPool","in":"query","description":"Property Characteristics: Only Properties With Pool. (Default: False)","type":"boolean","default":"False","enum":["True","False"]},{"name":"saleDateRange","in":"query","description":"Format - int32. Property Characteristics: Sale Date Range in months. (Default: 6)","type":"integer","default":"6"},{"name":"saleAmountRangeFrom","in":"query","description":"Format - int32. Property Characteristics: Sale Amount Range From. (Default: NULL)","type":"integer"},{"name":"saleAmountRangeTo","in":"query","description":"Format - int32. Property Characteristics: Sale Amount Range To. (Default: NULL)","type":"integer"},{"name":"unitNumberRange","in":"query","description":"Format - int32. Property Characteristics: Units Nr Range. (Default: NULL)","type":"integer"},{"name":"yearBuiltRange","in":"query","description":"Format - int32. Property Characteristics: Year Built Range. (Default: 10)","type":"integer","default":"10"},{"name":"storiesRange","in":"query","description":"Format - int32. Property Characteristics: Stories Range. (Default: NULL)","type":"integer"},{"name":"include0SalesAmounts","in":"query","description":"Options: Include 0 Or Unknown Sales Amounts. (Default: True)","type":"boolean","default":"True","enum":["True","False"]},{"name":"includeFullSalesOnly","in":"query","description":"Options: Include Full Sales Only. (Default: False)","type":"boolean","default":"False","enum":["True","False"]},{"name":"ownerOccupied","in":"query","description":"Options: Owner Occupied [ IncludeOwnerOccupiedOnly | IncludeAbsentOwnerOnly | Both]. (Default: Both)","type":"string","default":"Both","enum":["IncludeOwnerOccupiedOnly","IncludeAbsentOwnerOnly","Both"]},{"name":"distressed","in":"query","description":"Options: Distressed [ExcludeDistressed | OnlyDistressed | IncludeDistressed]. (Default: IncludeDistressed)","type":"string","default":"IncludeDistressed","enum":["ExcludeDistressed","OnlyDistressed","IncludeDistressed"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ValidResponse[PropertyData[ProductInfoDataSalesComp]]"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/ErrorResponse"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/ErrorResponse"}},"408":{"description":"Request timeout","schema":{"$ref":"#/definitions/ErrorResponse"}},"429":{"description":"Too many requests","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Internal error","schema":{"$ref":"#/definitions/ErrorResponse"}}},"produces":["application/json","text/xml","text/json","application/xml"]}}},"definitions":{"Object":{"type":"object","properties":{}},"RespondingPartyDataType":{"required":["_Name","_StreetAddress","_City","_State","_PostalCode"],"type":"object","properties":{"_Name":{"type":"string","example":"RealtyTrac"},"_StreetAddress":{"type":"string","example":"One Venture, Suite 300"},"_City":{"type":"string","example":"Irvine"},"_State":{"type":"string","example":"CA"},"_PostalCode":{"type":"string","example":"92618"}}},"ProductData":{"required":["STATUS"],"type":"object","properties":{"STATUS":{"$ref":"#/definitions/StatusDataType"}}},"KeyData":{"required":["_Name","_Value"],"type":"object","properties":{"_Name":{"type":"string","example":"TransactionId"},"_Value":{"type":"string","example":"7b39cbb8-ab24-4a09-a21b-88499ec2407a"}}},"StatusDataType":{"required":["_Code","_Condition","_Name","_Description"],"type":"object","properties":{"_Code":{"format":"int32","type":"integer","example":0},"_Condition":{"enum":["Error_MissingCustomerApiKey","Error_CustomerApiKeyNotInSystem","Error_RequestCountPerDayExceededMaxLimit","Error_RequestCountTotalExceededMaxLimit","Error_RequestCountPerMonthExceededMaxLimit","Success_Success","Warning_ErrorInReport","Error_InvalidXml","Error_CustomerNotInSystem","Error_UnableToAuditRequestInfo","Error_UnableToAuthenticate","Error_UnableToTranslateRequest","Error_NotAuthorized","Error_MinimumCompsNotMet","Failure_SystemException","Other_ProcessAddressFailed","Other_IvalidPropertyID","Other_IvalidSAPropertyID","Other_NoAddressInDatabase","Other_LastNameTooShort","Other_InvalidNumberOfRecords","Other_NoRequiredSearchData","Other_NoState","Other_NoStateOrZip","Other_NoRequiredSearchAPNData","Other_APNStateAndCountyRequired","Other_DbTimeOut","Other_InvalidLatitudeFormat","Other_InvalidLongitudeFormat","Other_InvalidLatitudeValue","Other_InvalidLongitudeValue","Other_InvalidRadius","Other_InvalidParameterValue","Other_MissingReportId","Other_NoDataForSelectedProperty","Error_IncorrectRequestFormat","Error_NoPlatMap","Error_NoPlatMapThirdParty","Error_ThirdPartyProductNotAvailable","Error_ThirdPartyServiceTimeout","Error_ThirdPartyServiceError","Error_ThirdPartyServiceUnknownStatus","Error_ThirdPartyServiceMultiplePropertiesFound","Error_ThirdPartyServiceErrorResponse","Error_ThirdPartyServiceNoRequestData","Error_ThirdPartyServiceMultiplePropertiesFoundCannotMatchByAPN","Error_ThirdPartyServiceCallFlowError"],"type":"string","example":"Success"},"_Name":{"type":"string","example":"Success"},"_Description":{"type":"string","example":"Successful execution"}}},"ErrorResponse":{"required":["RESPONSE_GROUP"],"type":"object","properties":{"RESPONSE_GROUP":{"$ref":"#/definitions/ErrorResponseGroup"}}},"ErrorResponseGroup":{"required":["PRODUCT"],"type":"object","properties":{"PRODUCT":{"$ref":"#/definitions/ErrorProductData"}}},"ErrorProductData":{"required":["STATUS"],"type":"object","properties":{"STATUS":{"type":"array","items":{"$ref":"#/definitions/ErrorStatusDataType"}}}},"ErrorStatusDataType":{"required":["_Code","_Condition","_Name","_Description"],"type":"object","properties":{"_Code":{"format":"int32","type":"integer","example":-233},"_Condition":{"enum":["Error_MissingCustomerApiKey","Error_CustomerApiKeyNotInSystem","Error_RequestCountPerDayExceededMaxLimit","Error_RequestCountTotalExceededMaxLimit","Error_RequestCountPerMonthExceededMaxLimit","Success_Success","Warning_ErrorInReport","Error_InvalidXml","Error_CustomerNotInSystem","Error_UnableToAuditRequestInfo","Error_UnableToAuthenticate","Error_UnableToTranslateRequest","Error_NotAuthorized","Error_MinimumCompsNotMet","Failure_SystemException","Other_ProcessAddressFailed","Other_IvalidPropertyID","Other_IvalidSAPropertyID","Other_NoAddressInDatabase","Other_LastNameTooShort","Other_InvalidNumberOfRecords","Other_NoRequiredSearchData","Other_NoState","Other_NoStateOrZip","Other_NoRequiredSearchAPNData","Other_APNStateAndCountyRequired","Other_DbTimeOut","Other_InvalidLatitudeFormat","Other_InvalidLongitudeFormat","Other_InvalidLatitudeValue","Other_InvalidLongitudeValue","Other_InvalidRadius","Other_InvalidParameterValue","Other_MissingReportId","Other_NoDataForSelectedProperty","Error_IncorrectRequestFormat","Error_NoPlatMap","Error_NoPlatMapThirdParty","Error_ThirdPartyProductNotAvailable","Error_ThirdPartyServiceTimeout","Error_ThirdPartyServiceError","Error_ThirdPartyServiceUnknownStatus","Error_ThirdPartyServiceMultiplePropertiesFound","Error_ThirdPartyServiceErrorResponse","Error_ThirdPartyServiceNoRequestData","Error_ThirdPartyServiceMultiplePropertiesFoundCannotMatchByAPN","Error_ThirdPartyServiceCallFlowError"],"type":"string","example":"NoDataForSelectedProperty"},"_Name":{"type":"string","example":"[repeats _Condition value]"},"_Description":{"type":"string","example":"Failed to fulfill the request. There is no data for the selected property"}}},"RequestData":{"type":"object","properties":{"Authentication":{"$ref":"#/definitions/AuthenticationData"},"Echoed":{"$ref":"#/definitions/EchoedData"}}},"AuthenticationData":{"type":"object","properties":{"APIKey":{"description":"API Key","type":"string"}}},"ValidResponse[PropertyData[ProductInfoDataSalesComp]]":{"required":["RESPONSE_GROUP"],"type":"object","properties":{"RESPONSE_GROUP":{"$ref":"#/definitions/ValidResponseGroupData[PropertyData[ProductInfoDataSalesComp]]"}}},"ValidResponseGroupData[PropertyData[ProductInfoDataSalesComp]]":{"required":["RESPONDING_PARTY","RESPONSE","PRODUCT"],"type":"object","properties":{"RESPONDING_PARTY":{"$ref":"#/definitions/RespondingPartyDataType"},"RESPONSE":{"$ref":"#/definitions/ResponseData[PropertyData[ProductInfoDataSalesComp]]"},"PRODUCT":{"$ref":"#/definitions/ProductData"}}},"ResponseData[PropertyData[ProductInfoDataSalesComp]]":{"required":["ResponseDateTime","KEY","RESPONSE_DATA"],"type":"object","properties":{"ResponseDateTime":{"format":"date-time","type":"string","example":"2016-01-27T18:48:25"},"KEY":{"$ref":"#/definitions/KeyData"},"RESPONSE_DATA":{"$ref":"#/definitions/ResponseDataData[PropertyData[ProductInfoDataSalesComp]]"}}},"ResponseDataData[PropertyData[ProductInfoDataSalesComp]]":{"required":["PROPERTY_INFORMATION_RESPONSE_ext"],"type":"object","properties":{"PROPERTY_INFORMATION_RESPONSE_ext":{"$ref":"#/definitions/PropertyInformationResponseData[PropertyData[ProductInfoDataSalesComp]]"}}},"PropertyInformationResponseData[PropertyData[ProductInfoDataSalesComp]]":{"required":["SUBJECT_PROPERTY_ext"],"type":"object","properties":{"SUBJECT_PROPERTY_ext":{"$ref":"#/definitions/SubjectPropertyData[PropertyData[ProductInfoDataSalesComp]]"}}},"SubjectPropertyData[PropertyData[ProductInfoDataSalesComp]]":{"required":["PROPERTY"],"type":"object","properties":{"PROPERTY":{"type":"array","items":{"$ref":"#/definitions/PropertyData[ProductInfoDataSalesComp]"}}}},"PropertyData[ProductInfoDataSalesComp]":{"required":["PRODUCT_INFO_ext"],"type":"object","properties":{"PRODUCT_INFO_ext":{"$ref":"#/definitions/ProductInfoDataSalesComp"}}},"ProductInfoDataSalesComp":{"required":["ReportID_ext","ReportDescription_ext","Product_ext","RecordNumber_ext"],"type":"object","properties":{"ReportID_ext":{"format":"int32","type":"integer","example":"104"},"ReportDescription_ext":{"type":"string","example":"SalesComparables"},"Product_ext":{"type":"string","example":"SalesCompSubjectProperty"},"RecordNumber_ext":{"format":"int32","type":"integer","example":0},"MappingVersion_ext":{"format":"int32","type":"integer","example":"1"}}}}}