{"openapi":"3.0.1","info":{"title":"InterChange ","description":"InterChange API.","version":"1.0"},"servers":[{"url":"https://prod.corelogicapi.com"}],"tags":[{"name":"interchange property-controller","description":"Interchange Property Controller"},{"name":"interchange-controller","description":"Interchange Controller"}],"paths":{"/interchange/{clip}/interchange-enriched":{"get":{"tags":["interchange-controller"],"summary":"InterChange","description":"InterChange&reg; API provides clean residential building data ready for use in building reconstruction calculations. This is the same clean data that is used by CoreLogic&apos;s industry leading RCT (Residential Component Technology&reg;) Express solution.\n\nThe address (street, city, state, zip) is converted to a CoreLogic Integrated Property (CLIP) ID which is then used to gather pertinent building characteristic and component information.\n\nBuilding characteristic data includes: living area, number of families, number of stories, year built and building style. In addition, confidence ranks for each field along with an overall confidence rank is provided.\n\nBuilding components include: air conditioning, bathroom (full/half/quarter), basement finish, construction material, exterior wall material, fireplace type, foundation material, foundation type, garage type, heating type, interior wall material, pool type, roof material and roof shape.","operationId":"InterChange","parameters":[{"name":"clip","in":"path","description":"Unique Clip Id","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseMessages"}}}},"404":{"description":"Clip not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InterchangeData"}}}},"403":{"description":"Forbidden"},"401":{"description":"Unauthorized"}},"security":[{"interchange_auth":[]}]}},"/interchange/properties/search":{"get":{"tags":["interchange property-controller"],"summary":"InterChange Property search by address, city, state, and zip code","description":"This API returns a list of properties that match the given search criteria.<br>\n<br>\nTo search for Properties by address, one of the following minimum search criteria must be specified:\n<ul>\n<li>{streetAddress, city, state}</li>\n<li>{streetAddress, zipCode}</li>\n</ul>\nIt is recommended that you provide as many attributes as possible to improve the accuracy of the results.","operationId":"InterChange Property Search","parameters":[{"name":"streetAddress","in":"query","description":"Address line of the address","required":true,"schema":{"type":"string"},"example":123},{"name":"city","in":"query","description":"Name of the City","required":true,"schema":{"type":"string"},"example":"SANTA MONICA"},{"name":"state","in":"query","description":"State code","required":true,"schema":{"type":"string"},"example":"CA"},{"name":"zipCode","in":"query","description":"5-digit ZIP code","required":true,"schema":{"type":"string"},"example":92618}],"responses":{"400":{"description":"BAD REQUEST","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseMessage"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseMessages"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseMessages"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PropertySearchProduct"}}}},"403":{"description":"Forbidden"},"401":{"description":"Unauthorized"}},"security":[{"interchange_auth":[]}]}}},"components":{"schemas":{"ResponseMessage":{"type":"object","properties":{"messageType":{"type":"string","enum":["info","warning","error"]},"message":{"type":"string"}}},"ResponseMessages":{"type":"object","properties":{"messages":{"type":"array","items":{"$ref":"#/components/schemas/ResponseMessage"}}}},"ErrorResponse":{"type":"object","properties":{"ErrorResponse":{"type":"object","properties":{"httpStatus":{"type":"integer","format":"int32"},"message":{"type":"string"}}}}},"AirConditioningComponentList":{"type":"object","properties":{"description":{"type":"string","description":"Indicates the air conditioning components and percentage of each associated with the property. Example: Heat/Central Air Conditioning, Percentage 100."},"value":{"type":"string","description":"Represents the value, such as \"100\", of the air conditioning components unit of measure."}}},"AirConditioningComponents":{"type":"object","properties":{"components":{"type":"array","items":{"$ref":"#/components/schemas/AirConditioningComponentList"}},"unitOfMeasure":{"type":"string","description":"The unit of measure, such as \"percentage\", that describes the composition of air conditioning components associated with each property."}}},"BasementFinishedComponentList":{"type":"object","properties":{"description":{"type":"string","description":"Indicates the finished basement components and percentage of each associated with the property.  Example:  Standard Finish, Percentage 75."},"value":{"type":"string","description":"Represents the value, such as \"100\", of the finished basement components unit of measure."}}},"BasementFinishedComponents":{"type":"object","properties":{"components":{"type":"array","items":{"$ref":"#/components/schemas/BasementFinishedComponentList"}},"unitOfMeasure":{"type":"string","description":"The unit of measure, such as \"percentage\", that describes the composition of finished basement components associated with each property."}}},"BuildingStyleCode":{"type":"object","properties":{"value":{"type":"string","description":"Type of building style (e.g., Colonial, Cape Code, Bungalow).  See Building Style Code Modeled - Interchange for whether value was enriched via a model and Building Style Code Confidence Rank - Interchange for the confidence level of provided value."},"modeled":{"type":"boolean","description":"Indicates whether the Building Style Code - Interchange value was modeled or not.  Values:  true = yes (modeled) or false = no (not modeled)."},"confidenceRank":{"type":"integer","description":"A rank of 1-5 depicting the confidence level of the Building Style Code - InterChange value.  Rank descriptions: 5 = Very High; 4 = High; 3 = Moderate; 2 = Low level; 1 = Very Low. NULL if value is not Enriched.","format":"int32"},"description":{"type":"string","description":"The full description  of the building style (e.g., Colonial, Condominium, Cottage).  See Building Style Code Modeled - Interchange for whether description was enriched via a model and Building Style Code Confidence Rank - Interchange for the confidence level of provided description."}}},"ConstructionMaterialComponentList":{"type":"object","properties":{"description":{"type":"string","description":"Indicates the  construction material components and percentage of each associated with the property.  Example: Masonry, Plain, Percentage 100."},"value":{"type":"string","description":"Represents the value, such as \"100\", of the construction material components unit of measure."}}},"ConstructionMaterialComponents":{"type":"object","properties":{"components":{"type":"array","items":{"$ref":"#/components/schemas/ConstructionMaterialComponentList"}},"unitOfMeasure":{"type":"string","description":"The unit of measure, such as \"percentage\", that describes the composition of construction material components associated with each property."}}},"ExteriorWallMaterialComponentList":{"type":"object","properties":{"description":{"type":"string","description":"Indicates the exterior wall material components and percentage of each associated with the property.  Example: Brick on Frame, Percentage 100."},"value":{"type":"string","description":"Represents the value, such as \"100\", of the exterior wall material components unit of measure."}}},"ExteriorWallMaterialComponents":{"type":"object","properties":{"components":{"type":"array","items":{"$ref":"#/components/schemas/ExteriorWallMaterialComponentList"}},"unitOfMeasure":{"type":"string","description":"The unit of measure, such as \"percentage\", that describes the composition of exterior wall material components associated with each property."}}},"FireplaceTypeComponentList":{"type":"object","properties":{"description":{"type":"string","description":"Indicates the fireplace component types and number of each associated with the property. Example:  Fireplace, Double, Count 1."},"value":{"type":"string","description":"Represents the value, such as \"1\", of the fireplace components unit of measure."}}},"FireplaceTypeComponents":{"type":"object","properties":{"components":{"type":"array","items":{"$ref":"#/components/schemas/FireplaceTypeComponentList"}},"unitOfMeasure":{"type":"string","description":"The unit of measure, such as \"count\", that describes the number of fireplace components associated with each property."}}},"FoundationMaterialComponentList":{"type":"object","properties":{"description":{"type":"string","description":"Indicates the foundation  material  components and percentage of each associated with the property.  Example:  Concrete, Percentage 100."},"value":{"type":"string","description":"Represents the value, such as \"100\", of the foundation material components unit of measure."}}},"FoundationMaterialComponents":{"type":"object","properties":{"components":{"type":"array","items":{"$ref":"#/components/schemas/FoundationMaterialComponentList"}},"unitOfMeasure":{"type":"string","description":"The unit of measure, such as \"percentage\", that describes the composition of foundation material components associated with each property."}}},"FoundationTypeComponentList":{"type":"object","properties":{"description":{"type":"string","description":"Indicates the  foundation  type  components and percentage of each associated with the property.  Example:  Slab at Grade, Percentage 100."},"value":{"type":"string","description":"Represents the value, such as \"100\", of the foundation type components unit of measure."}}},"FoundationTypeComponents":{"type":"object","properties":{"components":{"type":"array","items":{"$ref":"#/components/schemas/FoundationTypeComponentList"}},"unitOfMeasure":{"type":"string","description":"The unit of measure, such as \"percentage\", that describes the composition of foundation type components associated with each property."}}},"FullBathroomComponentList":{"type":"object","properties":{"description":{"type":"string","description":"Indicates the full bathroom components and number of each associated with the property.  Example:  Full Bath, Builders Grade, Count 1."},"value":{"type":"string","description":"Represents the value, such as \"1\", of the full bathroom components unit of measure."}}},"FullBathroomComponents":{"type":"object","properties":{"components":{"type":"array","items":{"$ref":"#/components/schemas/FullBathroomComponentList"}},"unitOfMeasure":{"type":"string","description":"The unit of measure, such as \"count\", that describes the number of full bathroom components associated with each property."}}},"GarageTypeComponentList":{"type":"object","properties":{"description":{"type":"string","description":"Indicates the garage type components and number of each associated with the property. Example:  Attached Garage, 2 Car, Count 1."},"value":{"type":"string","description":"Represents the value, such as \"1\", of the garage type components unit of measure."}}},"GarageTypeComponents":{"type":"object","properties":{"components":{"type":"array","items":{"$ref":"#/components/schemas/GarageTypeComponentList"}},"unitOfMeasure":{"type":"string","description":"The unit of measure, such as \"count\", that describes the number of garage type components associated with each property."}}},"HalfBathroomComponentList":{"type":"object","properties":{"description":{"type":"string","description":"Indicates the  half bathroom components and number of each associated with the property.  Example:  Half Bath, Builders Grade, Count 1."},"value":{"type":"string","description":"Represents the value, such as \"1\", of the  half bathroom components unit of measure."}}},"HalfBathroomComponents":{"type":"object","properties":{"components":{"type":"array","items":{"$ref":"#/components/schemas/HalfBathroomComponentList"}},"unitOfMeasure":{"type":"string","description":"The unit of measure, such as \"count\",that describes the number of half bathroom  components associated with each property."}}},"HeatingTypeComponentList":{"type":"object","properties":{"description":{"type":"string","description":"Indicates the  heating type components and percentage of each associated with the property. Example:  Heat/Central Air Conditioning, Percentage 100."},"value":{"type":"string","description":"Represents the value, such as \"100\", of the  heating type components unit of measure."}}},"HeatingTypeComponents":{"type":"object","properties":{"components":{"type":"array","items":{"$ref":"#/components/schemas/HeatingTypeComponentList"}},"unitOfMeasure":{"type":"string","description":"The unit of measure, such as \"percentage\", that describes the composition of heating type components associated with each property."}}},"InterchangeData":{"type":"object","properties":{"clip":{"type":"string","description":"Unique identification number assigned to each property."},"confidenceRank":{"type":"integer","description":"A rank of 1-5 depicting the record level summary indicating the confidence level for all field ranks provided (year built, living area, number of stories, Building Style Code). Rank descriptions: 5 = Very High; 4 = High; 3 = Moderate; 2 = Low Level; 1 = Very Low.","format":"int32"},"characteristics":{"$ref":"#/components/schemas/PropertyCharacteristics"},"construction":{"$ref":"#/components/schemas/PropertyConstruction"},"components":{"$ref":"#/components/schemas/PropertyComponents"}}},"InteriorWallMaterialComponentList":{"type":"object","properties":{"description":{"type":"string","description":"Indicates the interior wall material components and percentage of each associated with the property.  Example:  Paneling, Knotty Pine, Tongue & Groove, Percentage 100."},"value":{"type":"string","description":"Represents the value, such as \"100\", of the interior wall material components unit of measure."}}},"InteriorWallMaterialComponents":{"type":"object","properties":{"components":{"type":"array","items":{"$ref":"#/components/schemas/InteriorWallMaterialComponentList"}},"unitOfMeasure":{"type":"string","description":"The unit of measure, such as \"percentage\", that describes the composition of interior wall material components associated with each property."}}},"LivingArea":{"type":"object","properties":{"value":{"type":"integer","description":"This is typically the area that is heated or air conditioned and generally does not include Garage, Porch or Unfinished Basement Square Footage values.  See Living Area Modeled - Interchange for whether value was enriched via a model and Living Area Confidence Rank - Interchange for the confidence level of provided value.","format":"int32"},"modeled":{"type":"boolean","description":"Indicates whether the Living Area - Interchange value was modeled or not. Values: true = yes (modeled) or false = no (not modeled)."},"confidenceRank":{"type":"integer","description":"A rank of 1-5 depicting the confidence level of the Living Area - Interchange value.  Rank descriptions: 5 = Very High; 4 = High; 3 = Moderate; 2 = Low level; 1 = Very Low. NULL if value is not Enriched.","format":"int32"}}},"NumberOfFamilies":{"type":"object","properties":{"value":{"type":"integer","description":"Count of the number of families in the structure. The enriched proprietary logic is designed to improve completeness and accuracy.","format":"int32"},"modeled":{"type":"boolean","description":"Indicates whether the Total Number of Families - Interchange value was modeled or not. Values:  true = yes (modeled) or false = no (not modeled)."},"confidenceRank":{"type":"integer","description":"A rank of 1-5 depicting the confidence level of the Total Number of Families - Interchange value.  Rank descriptions: 5 = Very High; 4 = High; 3 = Moderate; 2 = Low level; 1 = Very Low. NULL if value is not enriched.","format":"int32"}}},"NumberOfStories":{"type":"object","properties":{"value":{"type":"number","description":"Number of stories associated with the building.  See Total Number of Stories Modeled - Interchange for whether value was enriched via a model and Total Number of Stories Confidence Rank - Interchange for the confidence level of provided value.","format":"float"},"modeled":{"type":"boolean","description":"Indicates whether the Total Number of Stories - Interchange value was modeled or not. Values:  true = yes (modeled) or false = no (not modeled)."},"confidenceRank":{"type":"integer","description":"A rank of 1-5 depicting the confidence level of the Total Number of Stories - InterChange value.  Rank descriptions: 5 = Very High; 4 = High; 3 = Moderate; 2 = Low level; 1 = Very Low. NULL if value is not Enriched.","format":"int32"}}},"OneQtrBathroomComponentList":{"type":"object","properties":{"description":{"type":"string","description":"Indicates the  one quarter bathroom components and number of each associated with the property.  Example:  XXXX, Count X."},"value":{"type":"string","description":"Represents the value, such as \"1\", of the one quarter bathroom components unit of measure."}}},"OneQtrBathroomComponents":{"type":"object","properties":{"components":{"type":"array","items":{"$ref":"#/components/schemas/OneQtrBathroomComponentList"}},"unitOfMeasure":{"type":"string","description":"The unit of measure, such as \"count\", that describes the number of one quarter bathroom  components associated with each property."}}},"PoolTypeComponentList":{"type":"object","properties":{"description":{"type":"string","description":"Indicates the pool type components and number of each associated with the property.  Example:  Hot Tub/Jacuzzi, Count 1."},"value":{"type":"string","description":"Represents the value, such as \"1\", of the pool type components unit of measure."}}},"PoolTypeComponents":{"type":"object","properties":{"components":{"type":"array","items":{"$ref":"#/components/schemas/PoolTypeComponentList"}},"unitOfMeasure":{"type":"string","description":"The unit of measure, such as \"count\", that describes the number of pool type components associated with each property."}}},"PropertyCharacteristics":{"type":"object","properties":{"livingArea":{"$ref":"#/components/schemas/LivingArea"},"numberOfFamilies":{"$ref":"#/components/schemas/NumberOfFamilies"},"numberOfStories":{"$ref":"#/components/schemas/NumberOfStories"},"yearBuilt":{"$ref":"#/components/schemas/YearBuilt"}}},"PropertyComponents":{"type":"object","properties":{"airConditioningComponents":{"$ref":"#/components/schemas/AirConditioningComponents"},"basementFinishedComponents":{"$ref":"#/components/schemas/BasementFinishedComponents"},"constructionMaterialComponents":{"$ref":"#/components/schemas/ConstructionMaterialComponents"},"exteriorWallMaterialComponents":{"$ref":"#/components/schemas/ExteriorWallMaterialComponents"},"fireplaceTypeComponents":{"$ref":"#/components/schemas/FireplaceTypeComponents"},"foundationMaterialComponents":{"$ref":"#/components/schemas/FoundationMaterialComponents"},"foundationTypeComponents":{"$ref":"#/components/schemas/FoundationTypeComponents"},"fullBathroomComponents":{"$ref":"#/components/schemas/FullBathroomComponents"},"halfBathroomComponents":{"$ref":"#/components/schemas/HalfBathroomComponents"},"threeQtrBathroomComponents":{"$ref":"#/components/schemas/ThreeQtrBathroomComponents"},"oneQtrBathroomComponents":{"$ref":"#/components/schemas/OneQtrBathroomComponents"},"garageTypeComponents":{"$ref":"#/components/schemas/GarageTypeComponents"},"heatingTypeComponents":{"$ref":"#/components/schemas/HeatingTypeComponents"},"interiorWallMaterialComponents":{"$ref":"#/components/schemas/InteriorWallMaterialComponents"},"poolTypeComponents":{"$ref":"#/components/schemas/PoolTypeComponents"},"roofMaterialComponents":{"$ref":"#/components/schemas/RoofMaterialComponents"},"roofShapeComponents":{"$ref":"#/components/schemas/RoofShapeComponents"}}},"PropertyConstruction":{"type":"object","properties":{"buildingStyleCode":{"$ref":"#/components/schemas/BuildingStyleCode"}}},"RoofMaterialComponentList":{"type":"object","properties":{"description":{"type":"string","description":"Indicates the  roof material(s) used to cover the roof surface and percentage of each associated with the building.  Example:   Shingles, Architectural, Percentage 100."},"value":{"type":"string","description":"Represents the value, such as \"100\", of the roof material(s) components unit of measure."}}},"RoofMaterialComponents":{"type":"object","properties":{"components":{"type":"array","items":{"$ref":"#/components/schemas/RoofMaterialComponentList"}},"unitOfMeasure":{"type":"string","description":"The unit of measure, such as \"percentage\", that describes the composition of roof material(s) components associated with each property."}}},"RoofShapeComponentList":{"type":"object","properties":{"description":{"type":"string","description":"Indicates the roof shape components and percentage of each associated with the building.  Example:  Gable, Moderate Pitch, Percentage 100."},"value":{"type":"string","description":"Represents the value, such as \"100\", of the roof shape components unit of measure."}}},"RoofShapeComponents":{"type":"object","properties":{"components":{"type":"array","items":{"$ref":"#/components/schemas/RoofShapeComponentList"}},"unitOfMeasure":{"type":"string","description":"The unit of measure, such as \"percentage\", that describes the composition of roof shape components  associated with each property."}}},"ThreeQtrBathroomComponentList":{"type":"object","properties":{"description":{"type":"string","description":"Indicates the three quarter bathroom components and number of each associated with the property.  Example:   Three Quarter Bath, Builders Grade, Count  1."},"value":{"type":"string","description":"Represents the value, such as \"1\", of the three quarter bathroom components unit of measure."}}},"ThreeQtrBathroomComponents":{"type":"object","properties":{"components":{"type":"array","items":{"$ref":"#/components/schemas/ThreeQtrBathroomComponentList"}},"unitOfMeasure":{"type":"string","description":"The unit of measure, such as \"count\", that describes the number of three quarter bathroom components associated with each property."}}},"YearBuilt":{"type":"object","properties":{"value":{"type":"integer","description":"Construction year of the original building. See Year Built Modeled - Interchange for whether value was enriched via a model and Year Build Confidence Rank - Interchange for the confidence level of provided value.","format":"int32"},"modeled":{"type":"boolean","description":"Indicates whether the Year Built - InterChange value was modeled or not. Values:  true = yes (modeled) or false = no (not modeled)."},"confidenceRank":{"type":"integer","description":"A rank of 1-5 depicting the confidence level of the Year Built - InterChange value.  Rank descriptions: 5 = Very High; 4 = High; 3 = Moderate; 2 = Low level; 1 = Very Low. NULL if value is not Enriched.","format":"int32"}}},"Metadata":{"type":"object","properties":{"pageNumber":{"type":"integer","format":"int64"},"pageSize":{"type":"integer","format":"int64"},"totalRecords":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int64"}}},"PropertySearchAddress":{"type":"object","properties":{"streetAddress":{"type":"string","description":"CoreLogic standardized street address containing house number, street name, street direction, suffix/prefix, street suffix (e.g. 123 N Main St)"},"propertyStreetAddressParsed":{"$ref":"#/components/schemas/PropertyStreetAddressParsed"},"city":{"type":"string","description":"CoreLogic standardized City Name"},"state":{"type":"string","description":"CoreLogic standardized two-letter state postal abbreviation (e.g. CA, TX)"},"zipCode":{"type":"string","description":"CoreLogic standardized USPS 5-digit Zip Code"},"zipPlus4":{"type":"string","description":"CoreLogic standardized last 4 digits of a USPS 9-digit zip code, which is used by the local mail carrier to identify the delivery route."},"county":{"type":"string","description":"CoreLogic standardized county name associated with the property address"}}},"PropertySearchDetail":{"type":"object","properties":{"clip":{"type":"string","description":"CoreLogic Unique identification number assigned to each property."},"propertyAddress":{"$ref":"#/components/schemas/PropertySearchAddress"}}},"PropertySearchProduct":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/Metadata"},"items":{"type":"array","items":{"$ref":"#/components/schemas/PropertySearchDetail"}},"messages":{"type":"array","items":{"$ref":"#/components/schemas/ResponseMessage"}}}},"PropertyStreetAddressParsed":{"type":"object","properties":{"houseNumber":{"type":"string","description":"CoreLogic standardized house number, usually the digits or letters found to the left of a street name in an address"},"streetNamePrefixDir":{"type":"string","description":"CoreLogic standardized field that represents the direction found to the left of the street name (e.g. 9340 N Dunhill Dr). Also know as Pre-Directional."},"streetName":{"type":"string","description":"CoreLogic standardized name or number of the street where a parcel is located, this includes any prefixes that are considered to be part of the street name (e.g. Via De Luna, 34th)."},"streetNameSuffix":{"type":"string","description":"CoreLogic standardized mode or type of street found to the right of the street name such as Drive, avenue, parkway (e.g., 9340 N Dunhill Dr). Also known as Street Designators / Street modes"},"streetNameSuffixDir":{"type":"string","description":"CoreLogic standardized direction indicator that follows the listed property's street name and street mode. Examples: SW following the street number and name in the address, 505 Dean St. SW. Also known as Post Directional."},"unitType":{"type":"string","description":"The unit type of the property adress ( e.g. Apartment, unit)"},"unitNumber":{"type":"string","description":"The unit or suite number of the property address (e.g., 649 Lake Shore Dr #1400)."}}}},"securitySchemes":{"interchange_auth":{"type":"oauth2","flows":{"authorizationCode":{"tokenUrl":"https://prod.corelogicapi.com/oauth/token?grant_type=client_credentials"}}}}}}