{"swagger":"2.0","info":{"version":"1.0.0","title":"","description":""},"host":"api.gateway.attomdata.com","basePath":"/propertyapi/v1.0.0","schemes":["https"],"tags":[{"name":"Valuation V1","description":"Insights related to property values."}],"consumes":["application/json","application/xml"],"produces":["application/xml","application/json"],"paths":{"/assessment/snapshot":{"get":{"tags":["Valuation V1"],"summary":"List of properties for geography in value range.","description":"List of properties and assessment details for properties within a specific geography for a nomminated value range and date range.","operationId":"getAssessmentSnapshotAssessed","parameters":[{"name":"apikey","description":"Application Key","type":"string","in":"header","default":"","x-data-threescale-name":"user_keys"},{"name":"accept","description":"application/xml or application/json (default)","type":"string","required":false,"in":"header","enum":["application/xml","application/json"]},{"name":"geoIdV4","description":"A list of geographies that this property belongs to. These geoIDs are used by search engine and values should not be exposed to the public.","type":"string","required":false,"in":"query","default":"8370d93a17ba7fb07f115392bd1225d9"},{"name":"startcalendardate","description":"The standardized date for search purposes","type":"string","format":"date","required":false,"in":"query","default":"2017-04-01"},{"name":"endcalendardate","description":"The standardized date for search purposes","type":"string","format":"date","required":false,"in":"query","default":"2022-07-01"},{"name":"minassdttlvalue","description":"The total assessed value from the local taxing authority","type":"string","required":false,"in":"query","default":"27700"},{"name":"maxassdttlvalue","description":"The total assessed value from the local taxing authority","type":"string","required":false,"in":"query","default":"483600"}],"responses":{"200":{"description":"list assessment snapshots for a specific GeoID"},"403":{"description":"apikey invalid/missing"},"default":{"description":"unexpected error"}}}},"/assessment/detail":{"get":{"tags":["Valuation V1"],"summary":"Property and Assessment details.","description":"Property address, characteristics, and assessment details for a specific property.","operationId":"assessmenDetailPostal","parameters":[{"name":"apikey","description":"Application Key","type":"string","in":"header","default":"","x-data-threescale-name":"user_keys"},{"name":"accept","description":"application/xml or application/json (default)","type":"string","required":false,"in":"header","enum":["application/xml","application/json"]},{"name":"address1","description":"The first line of the property address","type":"string","required":false,"in":"query","default":"468 SEQUOIA DR"},{"name":"address2","description":"The second line of the property address","type":"string","required":false,"in":"query","default":"SMYRNA, DE"}],"responses":{"200":{"description":"list of full detail record and assessment details for a specific address"},"403":{"description":"apikey invalid/missing"},"default":{"description":"unexpected error"}}}},"/assessmenthistory/detail":{"get":{"tags":["Valuation V1"],"summary":"Property details and assessment history.","description":"Property address, characteristics, and assessment history for a specific property.","operationId":"assessmentHistoryDetailID","parameters":[{"name":"apikey","description":"Application Key","type":"string","in":"header","default":"","x-data-threescale-name":"user_keys"},{"name":"accept","description":"application/xml or application/json (default)","type":"string","required":false,"in":"header","enum":["application/xml","application/json"]},{"name":"attomid","description":"attom id","type":"string","required":true,"in":"query","default":"184713191"}],"responses":{"200":{"description":"list of full assessment history details for a specific property ID."},"403":{"description":"apikey invalid/missing"},"default":{"description":"unexpected error"}}}},"/attomavm/detail":{"get":{"tags":["Valuation V1"],"summary":"Property details and cascaded AVM.","description":"Combines results from multiple AVM models to provide valuations for a larger number of properties.","operationId":"attomAvmDetail","parameters":[{"name":"apikey","description":"Application Key","type":"string","in":"header","default":"","x-data-threescale-name":"user_keys"},{"name":"accept","description":"application/xml or application/json (default)","type":"string","required":false,"in":"header","enum":["application/xml","application/json"]},{"name":"address1","description":"The first line of the property address","type":"string","required":false,"in":"query","default":"4529 Winona Court"},{"name":"address2","description":"The second line of the property address","type":"string","required":false,"in":"query","default":"Denver, CO"}],"responses":{"200":{"description":"list of Attomized AVM and other property record for a specific address"},"403":{"description":"apikey invalid/missing"},"default":{"description":"unexpected error"}}}},"/avm/snapshot":{"get":{"tags":["Valuation V1"],"summary":"AVM details for all properties within a specific geography.","description":"List of properties and AVM details that fall within a specific geography with a specific value range and (optional) property type.","operationId":"avmSnapshotGeoID","parameters":[{"name":"apikey","description":"Application Key","type":"string","in":"header","default":"","x-data-threescale-name":"user_keys"},{"name":"accept","description":"application/xml or application/json (default)","type":"string","required":false,"in":"header","enum":["application/xml","application/json"]},{"name":"geoIdV4","description":"A list of geographies that this property belongs to. These geoIDs are used by search engine and values should not be exposed to the public","type":"string","required":false,"in":"query","default":"8370d93a17ba7fb07f115392bd1225d9"},{"name":"minavmvalue","description":"This represents the estimated low value for the property","type":"string","required":false,"in":"query","default":"514000"},{"name":"maxavmvalue","description":"This represents the estimated max value for the property","type":"string","required":false,"in":"query","default":"745000"},{"name":"propertytype","description":"A specific property classification such as 'Detached Single Family'","type":"string","required":false,"in":"query","enum":["AGRICULTURAL (NEC)","APARTMENT","CABIN","CLUB","COMMERCIAL (NEC)","COMMERCIAL BUILDING","COMMERCIAL CONDOMINIUM","COMMON AREA","CONDOMINIUM","CONVERTED RESIDENCE","COUNTY PROPERTY","DUPLEX","FARMS","FAST FOOD FRANCHISE","FEDERAL PROPERTY","FOREST","GROUP QUARTERS","INDUSTRIAL (NEC)","INDUSTRIAL PLANT","MANUFACTURED HOME","MARINA FACILITY","MISCELLANEOUS","MOBILE HOME","MOBILE HOME LOT","MOBILE HOME PARK","MULTI FAMILY DWELLING","NURSERY/HORTICULTURE","OFFICE BUILDING","PUBLIC (NEC)","RELIGIOUS","RESIDENTIAL (NEC)","RESIDENTIAL ACREAGE","RESIDENTIAL LOT","RETAIL TRADE","SFR","STATE PROPERTY","STORES \u0026 OFFICES","STORES \u0026 RESIDENTIAL","TAX EXEMPT","TOWNHOUSE/ROWHOUSE","TRIPLEX","UTILITIES","VACANT LAND (NEC)"]}],"responses":{"200":{"description":"list of avm snapshots based on GeoID"},"403":{"description":"apikey invalid/missing"},"default":{"description":"unexpected error"}}}},"/avmhistory/detail":{"get":{"tags":["Valuation V1"],"summary":"AVM history for a property.","description":"HIstorical AVM values for a specific property.","operationId":"AvmHistoryDetail","parameters":[{"name":"apikey","description":"Application Key","type":"string","in":"header","default":"","x-data-threescale-name":"user_keys"},{"name":"accept","description":"application/xml or application/json (default)","type":"string","required":false,"in":"header","enum":["application/xml","application/json"]},{"name":"address1","description":"The first line of the property address","type":"string","required":false,"in":"query","default":"4529 Winona Court"},{"name":"address2","description":"The second line of the property address","type":"string","required":false,"in":"query","default":"Denver, CO"}],"responses":{"200":{"description":"list of AVM history record for a specific address"},"403":{"description":"apikey invalid/missing"},"default":{"description":"unexpected error"}}}},"/valuation/homeequity":{"get":{"tags":["Valuation V1"],"summary":"Estimated Home Equity for a property.","description":"Estimatyed Home Equity for a specific address based upon its estimated value (AVM) and an amortization of known mortgages.","operationId":"HomeEquityDetail","parameters":[{"name":"apikey","description":"Application Key","type":"string","in":"header","default":"","x-data-threescale-name":"user_keys"},{"name":"accept","description":"application/xml or application/json (default)","type":"string","required":false,"in":"header","enum":["application/xml","application/json"]},{"name":"address1","description":"The first line of the property address","type":"string","required":false,"in":"query","default":"4529 Winona Court"},{"name":"address2","description":"The second line of the property address","type":"string","required":false,"in":"query","default":"Denver, CO"}],"responses":{"200":{"description":"home equity record for a specific address"},"403":{"description":"apikey invalid/missing"},"default":{"description":"unexpected error"}}}},"/valuation/rentalavm":{"get":{"tags":["Valuation V1"],"summary":"Property details and Rental AVM for a property.","description":"Property address, characteristics and Rental AVM for a specific address.","operationId":"rentalAvm","parameters":[{"name":"apikey","description":"Application Key","type":"string","in":"header","default":"","x-data-threescale-name":"user_keys"},{"name":"accept","description":"application/xml or application/json (default)","type":"string","required":false,"in":"header","enum":["application/xml","application/json"]},{"name":"address1","description":"The first line of the property address","type":"string","required":false,"in":"query","default":"4529 Winona Court"},{"name":"address2","description":"The second line of the property address","type":"string","required":false,"in":"query","default":"Denver, CO"}],"responses":{"200":{"description":"list of Rental AVM and other property record for a specific address"},"403":{"description":"apikey invalid/missing"},"default":{"description":"unexpected error"}}}}}}