{"swagger":"2.0","basePath":"/propertyapi/v1.0.0","info":{"version":"v1.2","title":"","description":""},"host":"api.gateway.attomdata.com","schemes":["https"],"tags":[{"name":"Transaction V1","description":"Property-related transactions"}],"consumes":["application/json","application/xml"],"produces":["application/xml","application/json"],"paths":{"/allevents/detail":{"get":{"tags":["Transaction V1"],"summary":"Event details for a specific property.","description":"Detailed record of all the events for a specific property (ATTOM ID)","operationId":"getAllEventsDetailID","parameters":[{"name":"apikey","x-data-threescale-name":"user_keys","description":"API Security Key","type":"string","in":"header","default":""},{"name":"accept","description":"application/xml or application/json (default)","type":"string","required":false,"in":"header","enum":["application/xml","application/json"]},{"name":"id","description":"ATTOM ID of property","type":"string","required":false,"in":"query","default":"184713191"}],"responses":{"200":{"description":"detail record of all the events by ID"},"403":{"description":"apikey invalid/missing"},"default":{"description":"unexpected error"}}}},"/allevents/snapshot":{"get":{"tags":["Transaction V1"],"summary":"Snapshot of events for a specific property.","description":"Snapshot record of all the events on a specific property (ATTOM ID)","operationId":"getAllEvents","parameters":[{"name":"apikey","x-data-threescale-name":"user_keys","description":"API Security Key","type":"string","in":"header","default":""},{"name":"accept","description":"application/xml or application/json (default)","type":"string","required":false,"in":"header","enum":["application/xml","application/json"]},{"name":"id","description":"ATTOM ID of property","type":"string","required":false,"in":"query","default":"184713191"}],"responses":{"200":{"description":"a snapshot record of all events by ID"},"403":{"description":"apikey invalid/missing"},"default":{"description":"unexpected error"}}}},"/property/detailmortgage":{"get":{"tags":["Transaction V1"],"summary":"Property details and current mortgage for a property.","description":"Get property address, characteristics, and current mortgage for a specific property (ATTOM ID).","operationId":"propertyDetailsMortage","parameters":[{"name":"apikey","description":"Application Key","type":"string","in":"header","default":"","x-data-threescale-name":"user_keys"},{"name":"accept","description":"application/xml or application/json (default)","type":"string","required":false,"in":"header","enum":["application/xml","application/json"]},{"name":"attomid","description":"attom id","type":"string","required":true,"in":"query","default":"184713191"}],"responses":{"200":{"description":"list of property details with mortgage information"},"403":{"description":"apikey invalid/missing"},"default":{"description":"unexpected error"}}}},"/property/detailmortgageowner":{"get":{"tags":["Transaction V1"],"summary":"Property details, owner and current mortgage for a specific property.","description":"Property address, characteristics, owner, and current mortgage for a speciufic property (ATTOM ID).","operationId":"propertyDetailsMortgageOwner","parameters":[{"name":"apikey","description":"Application Key","type":"string","in":"header","default":"","x-data-threescale-name":"user_keys"},{"name":"accept","description":"application/xml or application/json (default)","type":"string","required":false,"in":"header","enum":["application/xml","application/json"]},{"name":"attomid","description":"attom id","type":"string","required":true,"in":"query","default":"184713191"}],"responses":{"200":{"description":"list of property details with mortgage owner information"},"403":{"description":"apikey invalid/missing"},"default":{"description":"unexpected error"}}}},"/sale/snapshot":{"get":{"tags":["Transaction V1"],"summary":"Home sale information for properties within a geography.","description":"List of home sales within a geocode that sold within a given date range and price range.","operationId":"getHomeSaleSnapshotsGeoId","parameters":[{"name":"apikey","description":"Application Key","type":"string","in":"header","default":"","x-data-threescale-name":"user_keys"},{"name":"accept","description":"application/xml or application/json (default)","type":"string","required":false,"in":"header","enum":["application/xml","application/json"]},{"name":"geoIdV4","description":"A list of geographies that this property belongs to. These geoIDs are used by search engine and values should not be exposed to the public","type":"string","required":false,"in":"query","default":"8370d93a17ba7fb07f115392bd1225d9"},{"name":"minsaleamt","description":"The recorded amount of the sale transaction","type":"string","required":false,"in":"query","default":"121465"},{"name":"maxsaleamt","description":"The recorded amount of the sale transaction","type":"string","required":false,"in":"query","default":"465000"},{"name":"startsalesearchdate","description":"The standardized date for search purposes","type":"string","format":"date","required":false,"in":"query","default":"2014-04-01"},{"name":"endsalesearchdate","description":"The standardized date for search purposes","type":"string","format":"date","required":false,"in":"query","default":"2015-07-01"}],"responses":{"200":{"description":"list of home sale snapshots by GeoID"},"403":{"description":"apikey invalid/missing"},"default":{"description":"unexpected error"}}}},"/sale/detail":{"get":{"tags":["Transaction V1"],"summary":"Sale transaction information for a property.","description":"Get sales information for a specific address.","operationId":"getSaleDetailPostal","parameters":[{"name":"apikey","description":"Application Key","type":"string","in":"header","default":"","x-data-threescale-name":"user_keys"},{"name":"accept","description":"application/xml or application/json (default)","type":"string","required":false,"in":"header","enum":["application/xml","application/json"]},{"name":"address1","description":"The first line of the property address","type":"string","required":false,"in":"query","default":"468 SEQUOIA DR"},{"name":"address2","description":"The second line of the property address","type":"string","required":false,"in":"query","default":"SMYRNA, DE"}],"responses":{"200":{"description":"list of sale detail record based on a specific address"},"403":{"description":"apikey invalid/missing"},"default":{"description":"unexpected error"}}}},"/saleshistory/snapshot":{"get":{"tags":["Transaction V1"],"summary":"Sales history for a property.","description":"Get a sales history snapshot of a property based on an attom ID.","operationId":"getSaleHistorySnapshotPropertyId","parameters":[{"name":"apikey","description":"Application Key","type":"string","in":"header","default":"","x-data-threescale-name":"user_keys"},{"name":"accept","description":"application/xml or application/json (default)","type":"string","required":false,"in":"header","enum":["application/xml","application/json"]},{"name":"attomid","description":"Unique attom identifier","type":"string","required":false,"in":"query","default":"184713191"}],"responses":{"200":{"description":"list of sales history snapshots by Property Id"},"403":{"description":"apikey invalid/missing"},"default":{"description":"unexpected error"}}}},"/saleshistory/basichistory":{"get":{"tags":["Transaction V1"],"summary":"Deed and mortgage details for a property.","description":"Deed (ownership) and mortgage transactions for a specific address.","operationId":"saleHistoryBasicHistory","parameters":[{"name":"apikey","description":"Application Key","type":"string","in":"header","default":"","x-data-threescale-name":"user_keys"},{"name":"accept","description":"application/xml or application/json (default)","type":"string","required":false,"in":"header","enum":["application/xml","application/json"]},{"name":"address1","description":"The first line of the property address","type":"string","required":false,"in":"query","default":"4529 Winona Court"},{"name":"address2","description":"The second line of the property address","type":"string","required":false,"in":"query","default":"Denver, CO"}],"responses":{"200":{"description":"list of basic transaction and loan history on a property"},"403":{"description":"apikey invalid/missing"},"default":{"description":"unexpected error"}}}},"/saleshistory/expandedhistory":{"get":{"tags":["Transaction V1"],"summary":"Deed, mortgage, and preforeclosure transactions for a property.","description":"Complete deed (ownership), mortgage, and pre-foreclosure transactions for a specific address.","operationId":"saleHistoryExpandedHistory","parameters":[{"name":"apikey","description":"Application Key","type":"string","in":"header","default":"","x-data-threescale-name":"user_keys"},{"name":"accept","description":"application/xml or application/json (default)","type":"string","required":false,"in":"header","enum":["application/xml","application/json"]},{"name":"address1","description":"The first line of the property address","type":"string","required":false,"in":"query","default":"4529 Winona Court"},{"name":"address2","description":"The second line of the property address","type":"string","required":false,"in":"query","default":"Denver, CO"}],"responses":{"200":{"description":"list of detailed transaction, pre-foreclosure and loan history on a property."},"403":{"description":"apikey invalid/missing"},"default":{"description":"unexpected error"}}}},"/saleshistory/detail":{"get":{"tags":["Transaction V1"],"summary":"Sale history detail information for a property.","description":"Get a sales history detail of a property for a specific address.","operationId":"saleHistoryDetail","parameters":[{"name":"apikey","description":"Application Key","type":"string","in":"header","default":"","x-data-threescale-name":"user_keys"},{"name":"accept","description":"application/xml or application/json (default)","type":"string","required":false,"in":"header","enum":["application/xml","application/json"]},{"name":"address1","description":"The first line of the property address","type":"string","required":false,"in":"query","default":"4529 Winona Court"},{"name":"address2","description":"The second line of the property address","type":"string","required":false,"in":"query","default":"Denver, CO"}],"responses":{"200":{"description":"list of detailed transaction, pre-foreclosure and loan history on a property."},"403":{"description":"apikey invalid/missing"},"default":{"description":"unexpected error"}}}}}}