{"swagger":"2.0","basePath":"/propertyapi/v1.0.0","info":{"version":"1.0.0","title":"","description":""},"host":"api.gateway.attomdata.com","schemes":["https"],"tags":[{"name":"Property V1","description":"Property-centric information"}],"consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"paths":{"/property/address":{"get":{"tags":["Property V1"],"summary":"Returns properties within a zip code.","description":"List of properties within a zip code.","operationId":"adressList","parameters":[{"name":"apikey","description":"Application Key","type":"string","in":"header","default":"","x-data-threescale-name":"user_keys"},{"name":"accept","description":"application/xml or application/json (default)","type":"string","required":false,"in":"header","enum":["application/xml","application/json"]},{"name":"postalcode","description":"The zip code or postal code to search","type":"string","required":false,"in":"query","default":"82009"},{"name":"propertytype","description":"A specific property classification such as 'Detached Single Family'","type":"string","required":false,"in":"query","enum":["AGRICULTURAL (NEC)","APARTMENT","CABIN","CLUB","COMMERCIAL (NEC)","COMMERCIAL BUILDING","COMMERCIAL CONDOMINIUM","COMMON AREA","CONDOMINIUM","CONVERTED RESIDENCE","COUNTY PROPERTY","DUPLEX","FARMS","FAST FOOD FRANCHISE","FEDERAL PROPERTY","FOREST","GROUP QUARTERS","INDUSTRIAL (NEC)","INDUSTRIAL PLANT","MANUFACTURED HOME","MARINA FACILITY","MISCELLANEOUS","MOBILE HOME","MOBILE HOME LOT","MOBILE HOME PARK","MULTI FAMILY DWELLING","NURSERY/HORTICULTURE","OFFICE BUILDING","PUBLIC (NEC)","RELIGIOUS","RESIDENTIAL (NEC)","RESIDENTIAL ACREAGE","RESIDENTIAL LOT","RETAIL TRADE","SFR","STATE PROPERTY","STORES \u0026 OFFICES","STORES \u0026 RESIDENTIAL","TAX EXEMPT","TOWNHOUSE/ROWHOUSE","TRIPLEX","UTILITIES","VACANT LAND (NEC)"]},{"name":"orderby","description":"Sorting Options","type":"string","required":false,"in":"query","enum":["calendardate","publisheddate","propertytype","saleamt","avmvalue","assdttlvalue","salesearchdate","saletransactiondate","beds","bathstotal","universalsize","lotsize1","lotsize2"]},{"name":"page","description":"The current view index based on the pagesize and the total number of records available","type":"string","required":false,"in":"query","default":"1"},{"name":"pagesize","description":"The number of records to be returned with the request","type":"string","required":false,"in":"query","default":"100"}],"responses":{"200":{"description":"list of property addresses"},"403":{"description":"apikey invalid/missing"},"default":{"description":"unexpected error"}}}},"/property/basicprofile":{"get":{"tags":["Property V1"],"summary":"Basic property information.","description":"Get basic property information and most recent transaction and taxes for a specific address.","operationId":"propertyBasicProfile","parameters":[{"name":"apikey","description":"Application Key","type":"string","in":"header","default":"","x-data-threescale-name":"user_keys"},{"name":"accept","description":"application/xml or application/json (default)","type":"string","required":false,"in":"header","enum":["application/xml","application/json"]},{"name":"address1","description":"The first line of the property address","type":"string","required":false,"in":"query","default":"4529 Winona Court"},{"name":"address2","description":"The second line of the property address","type":"string","required":false,"in":"query","default":"Denver, CO"}],"responses":{"200":{"description":"list of basic property information and most recent transaction and taxes"},"403":{"description":"apikey invalid/missing"},"default":{"description":"unexpected error"}}}},"/property/buildingpermits":{"get":{"tags":["Property V1"],"summary":"Returns basic property information and building permits detail.","description":"Get a basic property information and building permits detail for a specific address.","operationId":"propertyBuildingPermits","parameters":[{"name":"apikey","description":"Application Key","type":"string","in":"header","default":"","x-data-threescale-name":"user_keys"},{"name":"accept","description":"application/xml or application/json (default)","type":"string","required":false,"in":"header","enum":["application/xml","application/json"]},{"name":"address1","description":"The first line of the property address","type":"string","required":false,"in":"query","default":"4529 Winona Court"},{"name":"address2","description":"The second line of the property address","type":"string","required":false,"in":"query","default":"Denver, CO"}],"responses":{"200":{"description":"Building permits record for a specific address"},"403":{"description":"apikey invalid/missing"},"default":{"description":"unexpected error"}}}},"/property/detail":{"get":{"tags":["Property V1"],"summary":"Property details for a specific property.","description":"Property address and characteristics for a specific property (ATTOM ID).","operationId":"propertyDetails","parameters":[{"name":"apikey","description":"Application Key","type":"string","in":"header","default":"","x-data-threescale-name":"user_keys"},{"name":"accept","description":"application/xml or application/json (default)","type":"string","required":false,"in":"header","enum":["application/xml","application/json"]},{"name":"attomid","description":"attom id","type":"string","required":true,"in":"query","default":"184713191"}],"responses":{"200":{"description":"list of property details"},"403":{"description":"apikey invalid/missing"},"default":{"description":"unexpected error"}}}},"/property/detailowner":{"get":{"tags":["Property V1"],"summary":"Property details and current owner for a specific property.","description":"Property address, characteristics and current owner for a specific property (ATTOM ID).","operationId":"propertyDetailsOwner","parameters":[{"name":"apikey","description":"Application Key","type":"string","in":"header","default":"","x-data-threescale-name":"user_keys"},{"name":"accept","description":"application/xml or application/json (default)","type":"string","required":false,"in":"header","enum":["application/xml","application/json"]},{"name":"attomid","description":"attom id","type":"string","required":true,"in":"query","default":"184713191"}],"responses":{"200":{"description":"list of property details with owner information"},"403":{"description":"apikey invalid/missing"},"default":{"description":"unexpected error"}}}},"/property/expandedprofile":{"get":{"tags":["Property V1"],"summary":"Detailed property information, including recent transactions and taxes.","description":"Get a detailed property information and most recent transaction and taxes for a specific address.","operationId":"propertyExpandedProfile","parameters":[{"name":"apikey","description":"Application Key","type":"string","in":"header","default":"","x-data-threescale-name":"user_keys"},{"name":"accept","description":"application/xml or application/json (default)","type":"string","required":false,"in":"header","enum":["application/xml","application/json"]},{"name":"address1","description":"The first line of the property address","type":"string","required":false,"in":"query","default":"4529 Winona Court"},{"name":"address2","description":"The second line of the property address","type":"string","required":false,"in":"query","default":"Denver, CO"}],"responses":{"200":{"description":"list of detailed property information and most recent transaction and taxes"},"403":{"description":"apikey invalid/missing"},"default":{"description":"unexpected error"}}}},"/property/id":{"get":{"tags":["Property V1"],"summary":"List of properties that meet specifiedcriteria.","description":"List of property IDs within a specific geography that have a specific number of beds.","operationId":"getPropertyIdList","parameters":[{"name":"apikey","description":"Application Key","type":"string","in":"header","default":"","x-data-threescale-name":"user_keys"},{"name":"accept","description":"application/xml or application/json (default)","type":"string","required":false,"in":"header","enum":["application/xml","application/json"]},{"name":"geoid","description":"A list of geographies that this property belongs to. These geoIDs are used by search engine and values should not be exposed to the public.","type":"string","required":false,"in":"query","default":"PL0820000"},{"name":"minBeds","description":"The min Bed size to search from.","type":"string","required":false,"in":"query","default":"1"},{"name":"maxBeds","description":"The max Bed size to search from.","type":"string","required":false,"in":"query","default":"2"},{"name":"orderby","description":"Sort Options","type":"string","required":false,"in":"query","enum":["calendardate","publisheddate","propertytype","saleamt","avmvalue","assdttlvalue","salesearchdate","saletransactiondate","beds","bathstotal","universalsize","lotsize1","lotsize2"]}],"responses":{"200":{"description":"list of IDs for properties"},"403":{"description":"apikey invalid/missing"},"default":{"description":"unexpected error"}}}},"/property/snapshot":{"get":{"tags":["Property V1"],"summary":"Properties that meet a criteria within a zip code.","description":"Get a snapshot of the properties within a zip code that have a universal size value that falls within a specified range.","operationId":"propertySnapshotAPN","parameters":[{"name":"apikey","description":"Application Key","type":"string","in":"header","default":"","x-data-threescale-name":"user_keys"},{"name":"accept","description":"application/xml or application/json (default)","type":"string","required":false,"in":"header","enum":["application/xml","application/json"]},{"name":"postalcode","description":"","type":"string","required":false,"in":"query","default":"11215"},{"name":"minUniversalSize","description":"The minimum universal size value","type":"string","required":false,"in":"query","default":"1200"},{"name":"maxUniversalSize","description":"The maximum universal size value","type":"string","required":false,"in":"query","default":"1800"}],"responses":{"200":{"description":"list of snapshots by Postal Code"},"403":{"description":"apikey invalid/missing"},"default":{"description":"unexpected error"}}}}}}