{
  "openapi": "3.0.3",
  "info": {
    "title": "Flowstate API",
    "description": "Property valuation and underwriting API for real estate investors. Get property data, comparables, ARV calculations, and investment recommendations.\n\n## Authentication\n\nThe API supports two authentication methods:\n- **Bearer Token**: For API access via `/v1/*` endpoints. Use API keys from your dashboard.\n- **Session Cookie**: For dashboard endpoints (`/user/*`, `/appraisal-presets/*`, `/rehab-config`, `/deal-params`, `/location-settings`, `/major-item-costs`, `/ghl-settings`). Managed via Better Auth.\n\n## Real-time Analysis\n\nProperty analysis is async. POST to `/v1/analyze` returns a job ID immediately. Get results via:\n- **SSE**: `/sse/analyze/:jobId` for real-time streaming\n- **Polling**: `GET /v1/analyze/jobs/:jobId` for status checks",
    "version": "1.0.0",
    "contact": {
      "name": "Flowstate Support",
      "url": "https://flowstate.homes"
    }
  },
  "servers": [
    {
      "url": "https://api.flowstate.homes",
      "description": "Production"
    },
    {
      "url": "http://localhost:8787",
      "description": "Local Development"
    }
  ],
  "tags": [
    {
      "name": "Health",
      "description": "Health check endpoints (no auth required)"
    },
    {
      "name": "Analysis",
      "description": "Property analysis endpoints (API key required)"
    },
    {
      "name": "Appraisal Presets",
      "description": "Manage appraisal rule presets (session auth required)"
    },
    {
      "name": "User",
      "description": "User profile, API keys, and usage (session auth required)"
    },
    {
      "name": "Evaluation Settings",
      "description": "Manage evaluation configuration: rehab pricing, deal parameters, location overrides, major items (session auth)"
    },
    {
      "name": "Reports",
      "description": "Saved analysis reports and sharing (session auth)"
    },
    {
      "name": "GHL Integration",
      "description": "GoHighLevel CRM integration settings (session auth)"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": ["Health"],
        "summary": "API info",
        "description": "Returns basic API information and available endpoints. No authentication required.",
        "security": [],
        "responses": {
          "200": {
            "description": "API information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": { "type": "string", "example": "Flowstate API" },
                    "version": { "type": "string", "example": "1.0.0" },
                    "docs": { "type": "string", "example": "https://docs.flowstate.homes" },
                    "endpoints": {
                      "type": "object",
                      "properties": {
                        "health": { "type": "string" },
                        "auth": { "type": "string" },
                        "user": { "type": "string" },
                        "apiKeys": { "type": "string" },
                        "usage": { "type": "string" },
                        "appraisalPresets": { "type": "string" },
                        "analyze": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": ["Health"],
        "summary": "Health check",
        "description": "Returns the health status of the API. No authentication required.",
        "security": [],
        "responses": {
          "200": {
            "description": "API is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "ok" },
                    "timestamp": { "type": "string", "format": "date-time" },
                    "version": { "type": "string", "example": "1.0.0" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/health/db": {
      "get": {
        "tags": ["Health"],
        "summary": "Database health check",
        "description": "Returns the health status of the database connection. No authentication required.",
        "security": [],
        "responses": {
          "200": {
            "description": "Database is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "ok" },
                    "timestamp": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Database error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/health/keys": {
      "get": {
        "tags": ["Health"],
        "summary": "CoreLogic API key status",
        "description": "Shows which CoreLogic API keys are available vs in cooldown. Useful for diagnosing rate limit errors. Keys go into 60-second cooldown when rate limited (HTTP 429).",
        "security": [],
        "responses": {
          "200": {
            "description": "API key status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "enum": ["ok", "degraded"] },
                    "timestamp": { "type": "string", "format": "date-time" },
                    "provider": { "type": "string", "example": "corelogic" },
                    "keys": {
                      "type": "object",
                      "properties": {
                        "total": { "type": "integer" },
                        "available": { "type": "integer" },
                        "inCooldown": { "type": "integer" },
                        "cooldownDurationMs": { "type": "integer", "example": 60000 },
                        "details": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "index": { "type": "integer" },
                              "status": { "type": "string", "enum": ["available", "cooldown"] }
                            }
                          }
                        }
                      }
                    },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/analyze": {
      "post": {
        "tags": ["Analysis"],
        "summary": "Start property analysis",
        "description": "Start an async property analysis using Cloudflare Workflows. Returns immediately with a job ID and URLs for status/streaming.\n\nThe analysis includes:\n1. Property lookup and data fetching\n2. Comparable sales search\n3. Photo fetching and AI vision analysis\n4. Appraisal adjustments\n5. ARV calculation and investment metrics\n\nResults can be retrieved via SSE streaming or HTTP polling.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AnalyzeRequest" },
              "examples": {
                "simple": {
                  "summary": "Simple address lookup",
                  "value": {
                    "address": "123 Main St, Tampa, FL 33607"
                  }
                },
                "with_photos": {
                  "summary": "Analysis with photo analysis",
                  "value": {
                    "address": "123 Main St, Tampa, FL 33607",
                    "photoAnalysis": {
                      "enabled": true,
                      "maxComps": 10
                    }
                  }
                },
                "advanced": {
                  "summary": "Advanced analysis with all options",
                  "value": {
                    "address": "123 Main St, Tampa, FL 33607",
                    "searchOptions": {
                      "radiusMiles": 1,
                      "maxComps": 15,
                      "monthsBack": 12
                    },
                    "appraisalRules": {
                      "filters": [
                        { "type": "sale_age", "enabled": true, "value": 12 },
                        { "type": "sqft_diff", "enabled": true, "value": 25 }
                      ],
                      "adjustments": [
                        { "type": "bedroom", "enabled": true, "amount": 5000 }
                      ]
                    },
                    "buybox": {
                      "rehabLevelIndex": 2,
                      "closingCostsPercent": 10,
                      "carryingCostsPercent": 5,
                      "wholesaleFee": 10000
                    },
                    "enrichment": {
                      "permits": true,
                      "floodZone": true
                    },
                    "photoAnalysis": {
                      "enabled": true,
                      "maxComps": 10,
                      "requireBetterOrEqual": true
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Analysis job queued successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/QueueJobResponse" }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid parameters",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/v1/analyze/jobs/{jobId}": {
      "get": {
        "tags": ["Analysis"],
        "summary": "Get job status",
        "description": "Get the current status of an analysis job. Returns job state, progress, and result (if completed).",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "description": "Job ID returned from POST /v1/analyze",
            "schema": { "type": "string" }
          },
          {
            "name": "propertyKey",
            "in": "query",
            "required": true,
            "description": "Property key returned from POST /v1/analyze",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Job status",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/JobStatusResponse" }
              }
            }
          },
          "400": {
            "description": "Missing propertyKey parameter",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "404": {
            "description": "Job not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/v1/analyze/stream-token": {
      "post": {
        "tags": ["Analysis"],
        "summary": "Generate stream token",
        "description": "Generate a short-lived signed token for SSE stream authentication. The token expires in 5 minutes and is scoped to a specific job.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jobId", "propertyKey"],
                "properties": {
                  "jobId": { "type": "string", "description": "Job ID from POST /v1/analyze" },
                  "propertyKey": { "type": "string", "description": "Property key from POST /v1/analyze" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stream token generated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": { "type": "string", "description": "Signed JWT token" },
                        "streamUrl": { "type": "string", "description": "Full SSE stream URL with token" },
                        "expiresIn": { "type": "integer", "example": 300, "description": "Token lifetime in seconds" }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing required parameters",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/v1/analyze/defaults": {
      "get": {
        "tags": ["Analysis"],
        "summary": "Get default parameters",
        "description": "Get default values for search options, appraisal rules, buybox parameters, and enrichment settings.",
        "responses": {
          "200": {
            "description": "Default parameters",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AnalyzeDefaultsResponse" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/sse/analyze/{jobId}": {
      "get": {
        "tags": ["Analysis"],
        "summary": "SSE stream for job progress",
        "description": "Server-Sent Events stream for real-time analysis job progress updates. Authenticate via `token` query parameter (obtained from POST /v1/analyze/stream-token). The stream emits events for each processing step and closes when the job completes or fails.",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "description": "Job ID returned from POST /v1/analyze",
            "schema": { "type": "string" }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "Signed stream token from POST /v1/analyze/stream-token",
            "schema": { "type": "string" }
          }
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "SSE event stream. Events include: `status` (job state changes), `progress` (step updates with percentage), `result` (final analysis result), `error` (failure details).",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "SSE event stream with data: JSON payloads"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or expired stream token",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "404": {
            "description": "Job not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/user": {
      "get": {
        "tags": ["User"],
        "summary": "Get current user profile",
        "description": "Get the authenticated user's profile information. Requires session authentication via cookies.",
        "security": [{ "cookieAuth": [] }],
        "responses": {
          "200": {
            "description": "User profile",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UserProfile" }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/user/api-keys": {
      "get": {
        "tags": ["User"],
        "summary": "List API keys",
        "description": "Get all API keys for the authenticated user. Returns key metadata (not the actual key value).",
        "security": [{ "cookieAuth": [] }],
        "responses": {
          "200": {
            "description": "List of API keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "keys": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/ApiKey" }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["User"],
        "summary": "Create API key",
        "description": "Create a new API key. The full key value is only returned once at creation time. Store it securely.",
        "security": [{ "cookieAuth": [] }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string", "default": "API Key", "description": "Friendly name for the key" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API key created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string" },
                    "key": { "type": "string", "description": "Full API key (only shown once)" },
                    "name": { "type": "string" },
                    "keyPrefix": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "403": {
            "description": "API key limit reached for plan",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/user/api-keys/{id}": {
      "patch": {
        "tags": ["User"],
        "summary": "Update API key",
        "description": "Update an API key's name or active status.",
        "security": [{ "cookieAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "isActive": { "type": "boolean" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API key updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "404": {
            "description": "API key not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["User"],
        "summary": "Delete API key",
        "description": "Permanently delete an API key. This cannot be undone.",
        "security": [{ "cookieAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "API key deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "404": {
            "description": "API key not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/user/usage": {
      "get": {
        "tags": ["User"],
        "summary": "Get usage summary",
        "description": "Get the user's API usage summary for the current billing period.",
        "security": [{ "cookieAuth": [] }],
        "responses": {
          "200": {
            "description": "Usage summary",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UsageSummary" }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/user/usage/logs": {
      "get": {
        "tags": ["User"],
        "summary": "Get usage logs",
        "description": "Get paginated API usage logs.",
        "security": [{ "cookieAuth": [] }],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "default": 1 }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "default": 20, "maximum": 100 }
          }
        ],
        "responses": {
          "200": {
            "description": "Usage logs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "logs": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/UsageLog" }
                    },
                    "pagination": { "$ref": "#/components/schemas/Pagination" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/user/usage/logs/{id}": {
      "get": {
        "tags": ["User"],
        "summary": "Get single usage log",
        "description": "Get details of a specific API usage log entry.",
        "security": [{ "cookieAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Usage log details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "log": { "$ref": "#/components/schemas/UsageLogDetail" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "404": {
            "description": "Log not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/user/reports": {
      "get": {
        "tags": ["Reports"],
        "summary": "List saved reports",
        "description": "Get a paginated list of the authenticated user's saved analysis reports.",
        "security": [{ "cookieAuth": [] }],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": { "type": "integer", "default": 1 }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Results per page",
            "schema": { "type": "integer", "default": 20, "maximum": 100 }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of saved reports",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "reports": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "jobId": { "type": "string", "description": "Analysis job ID" },
                          "address": { "type": "string", "description": "Property address" },
                          "status": { "type": "string", "description": "Job status" },
                          "arv": { "type": "number", "nullable": true, "description": "Calculated ARV" },
                          "isShared": { "type": "boolean", "description": "Whether the report is publicly shared" },
                          "createdAt": { "type": "string", "format": "date-time" },
                          "updatedAt": { "type": "string", "format": "date-time" }
                        }
                      }
                    },
                    "pagination": { "$ref": "#/components/schemas/Pagination" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/user/reports/{jobId}": {
      "get": {
        "tags": ["Reports"],
        "summary": "Get full report",
        "description": "Get the full analysis report for a specific job. Only the report owner can access this.",
        "security": [{ "cookieAuth": [] }],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "description": "Analysis job ID",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Full analysis report",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "report": {
                      "type": "object",
                      "description": "Full analysis result including subject, valuation, comps, and metadata"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "404": {
            "description": "Report not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/user/reports/{jobId}/share": {
      "get": {
        "tags": ["Reports"],
        "summary": "Get share status",
        "description": "Get the current sharing status of a report, including whether it is shared and if a password is set.",
        "security": [{ "cookieAuth": [] }],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "description": "Analysis job ID",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Share status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isShared": { "type": "boolean", "description": "Whether the report is publicly shared" },
                    "hasPassword": { "type": "boolean", "description": "Whether a password is required" },
                    "shareUrl": { "type": "string", "nullable": true, "description": "Public share URL (if shared)" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "404": {
            "description": "Report not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Reports"],
        "summary": "Enable or disable sharing",
        "description": "Enable or disable public sharing for a report. Optionally set a password for access control.",
        "security": [{ "cookieAuth": [] }],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "description": "Analysis job ID",
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["isShared"],
                "properties": {
                  "isShared": { "type": "boolean", "description": "Enable or disable sharing" },
                  "password": { "type": "string", "nullable": true, "description": "Optional password for accessing the shared report" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Share settings updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "isShared": { "type": "boolean" },
                    "shareUrl": { "type": "string", "nullable": true }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "404": {
            "description": "Report not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/reports/{jobId}": {
      "get": {
        "tags": ["Reports"],
        "summary": "Get public shared report",
        "description": "Access a publicly shared report. No authentication required if the report is shared. If a password is set, the share password cookie must be present (obtained via POST /reports/:jobId/verify). Report owners can always access their own reports via session auth.",
        "security": [],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "description": "Analysis job ID",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Shared report data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "report": {
                      "type": "object",
                      "description": "Full analysis result"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Password required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "404": {
            "description": "Report not found or not shared",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/reports/{jobId}/verify": {
      "post": {
        "tags": ["Reports"],
        "summary": "Verify share password",
        "description": "Verify a password for a password-protected shared report. On success, sets a cookie that grants access to the report.",
        "security": [],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "description": "Analysis job ID",
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["password"],
                "properties": {
                  "password": { "type": "string", "description": "Share password to verify" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password verified, access cookie set",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Incorrect password",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "404": {
            "description": "Report not found or not shared",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/appraisal-presets": {
      "get": {
        "tags": ["Appraisal Presets"],
        "summary": "List all presets",
        "description": "Get all appraisal rule presets for the authenticated user.",
        "security": [{ "cookieAuth": [] }],
        "responses": {
          "200": {
            "description": "List of presets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "presets": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/AppraisalPreset" }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Appraisal Presets"],
        "summary": "Create a preset",
        "description": "Create a new appraisal rule preset. If no filters or adjustments are provided, defaults are used.",
        "security": [{ "cookieAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreatePresetInput" },
              "examples": {
                "basic": {
                  "summary": "Basic preset with defaults",
                  "value": {
                    "name": "My Standard Rules",
                    "description": "My go-to appraisal rules",
                    "isDefault": true
                  }
                },
                "custom": {
                  "summary": "Custom filters and adjustments",
                  "value": {
                    "name": "Tight Market Rules",
                    "description": "Strict filters for competitive markets",
                    "isDefault": false,
                    "filters": [
                      { "filterType": "sale_age", "enabled": true, "value": 6 },
                      { "filterType": "sqft_diff", "enabled": true, "value": 15 },
                      { "filterType": "distance", "enabled": true, "value": 0.5 }
                    ],
                    "adjustments": [
                      { "adjustmentType": "bedroom", "enabled": true, "amount": 8000, "percentage": 0 },
                      { "adjustmentType": "bathroom", "enabled": true, "amount": 6000, "percentage": 0 }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Preset created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "preset": { "$ref": "#/components/schemas/AppraisalPreset" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input - name is required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/appraisal-presets/defaults": {
      "get": {
        "tags": ["Appraisal Presets"],
        "summary": "Get default filter and adjustment values",
        "description": "Get the default filter and adjustment configurations with their labels and descriptions. No authentication required.",
        "security": [],
        "responses": {
          "200": {
            "description": "Default configurations",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AppraisalDefaultsResponse" }
              }
            }
          }
        }
      }
    },
    "/appraisal-presets/default": {
      "get": {
        "tags": ["Appraisal Presets"],
        "summary": "Get user's default preset",
        "description": "Get the preset marked as default for the authenticated user. Returns null if no default is set.",
        "security": [{ "cookieAuth": [] }],
        "responses": {
          "200": {
            "description": "Default preset (or null)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "preset": {
                      "oneOf": [
                        { "$ref": "#/components/schemas/AppraisalPreset" },
                        { "type": "null" }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/appraisal-presets/{id}": {
      "get": {
        "tags": ["Appraisal Presets"],
        "summary": "Get a preset by ID",
        "description": "Get a specific appraisal preset by its ID.",
        "security": [{ "cookieAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Preset ID (UUID)",
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Preset details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "preset": { "$ref": "#/components/schemas/AppraisalPreset" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "404": {
            "description": "Preset not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Appraisal Presets"],
        "summary": "Update a preset",
        "description": "Update an existing appraisal preset. All fields are optional. If filters or adjustments are provided, they replace the existing ones entirely.",
        "security": [{ "cookieAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Preset ID (UUID)",
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdatePresetInput" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Preset updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "preset": { "$ref": "#/components/schemas/AppraisalPreset" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "404": {
            "description": "Preset not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Appraisal Presets"],
        "summary": "Delete a preset",
        "description": "Delete an appraisal preset. This also deletes all associated filters and adjustments.",
        "security": [{ "cookieAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Preset ID (UUID)",
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Preset deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "404": {
            "description": "Preset not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/appraisal-presets/{id}/set-default": {
      "post": {
        "tags": ["Appraisal Presets"],
        "summary": "Set a preset as default",
        "description": "Mark a preset as the user's default. This will unset any previously default preset.",
        "security": [{ "cookieAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Preset ID (UUID)",
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Preset set as default",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "404": {
            "description": "Preset not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/rehab-config/defaults": {
      "get": {
        "tags": ["Evaluation Settings"],
        "summary": "Get default rehab table",
        "description": "Get the system default rehab pricing table and tier ranges. No authentication required.",
        "security": [],
        "responses": {
          "200": {
            "description": "Default rehab configuration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "config": {
                      "type": "object",
                      "description": "Default rehab pricing table keyed by tier name, each containing costPerSqft and minProfit"
                    },
                    "tierRanges": {
                      "type": "object",
                      "description": "Tier range definitions with min/max values"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rehab-config": {
      "get": {
        "tags": ["Evaluation Settings"],
        "summary": "Get user's rehab config",
        "description": "Get the authenticated user's rehab pricing configuration. Returns the custom config if set, otherwise returns defaults.",
        "security": [{ "cookieAuth": [] }],
        "responses": {
          "200": {
            "description": "User's rehab configuration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "config": {
                      "type": "object",
                      "description": "Rehab pricing table keyed by tier name"
                    },
                    "tierRanges": {
                      "type": "object",
                      "description": "Tier range definitions"
                    },
                    "isCustom": { "type": "boolean", "description": "Whether this is a user-customized config" },
                    "updatedAt": { "type": "string", "format": "date-time", "nullable": true }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Evaluation Settings"],
        "summary": "Update rehab config",
        "description": "Update the authenticated user's rehab pricing configuration.",
        "security": [{ "cookieAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["config"],
                "properties": {
                  "config": {
                    "type": "object",
                    "description": "Rehab pricing table keyed by tier name, each containing costPerSqft and minProfit"
                  },
                  "tierRanges": {
                    "type": "object",
                    "description": "Optional tier range overrides"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Rehab config updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "config": { "type": "object", "description": "Updated rehab pricing table" },
                    "tierRanges": { "type": "object", "description": "Updated tier ranges" },
                    "isCustom": { "type": "boolean", "example": true },
                    "updatedAt": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Evaluation Settings"],
        "summary": "Reset rehab config to defaults",
        "description": "Delete the user's custom rehab config and reset to system defaults.",
        "security": [{ "cookieAuth": [] }],
        "responses": {
          "200": {
            "description": "Reset to defaults",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "config": { "type": "object", "description": "Default rehab pricing table" },
                    "isCustom": { "type": "boolean", "example": false }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/deal-params/defaults": {
      "get": {
        "tags": ["Evaluation Settings"],
        "summary": "Get default deal params",
        "description": "Get the system default deal parameters. No authentication required.",
        "security": [],
        "responses": {
          "200": {
            "description": "Default deal parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "closingCostsPercent": { "type": "number", "example": 8, "description": "Closing costs as percentage of ARV" },
                    "carryingCostsPercent": { "type": "number", "example": 2, "description": "Carrying costs as percentage of ARV" },
                    "wholesaleFee": { "type": "number", "example": 10000, "description": "Wholesale fee in dollars" },
                    "desiredProfit": { "type": "number", "nullable": true, "example": null, "description": "Desired profit in dollars (null for auto-calculate)" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/deal-params": {
      "get": {
        "tags": ["Evaluation Settings"],
        "summary": "Get user's deal params",
        "description": "Get the authenticated user's deal parameters. Returns custom values if set, otherwise defaults.",
        "security": [{ "cookieAuth": [] }],
        "responses": {
          "200": {
            "description": "User's deal parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "closingCostsPercent": { "type": "number", "description": "Closing costs percentage" },
                    "carryingCostsPercent": { "type": "number", "description": "Carrying costs percentage" },
                    "wholesaleFee": { "type": "number", "description": "Wholesale fee in dollars" },
                    "desiredProfit": { "type": "number", "nullable": true, "description": "Desired profit in dollars" },
                    "isCustom": { "type": "boolean", "description": "Whether these are user-customized" },
                    "updatedAt": { "type": "string", "format": "date-time", "nullable": true }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Evaluation Settings"],
        "summary": "Update deal params",
        "description": "Update the authenticated user's deal parameters. All fields are optional; only provided fields are updated.",
        "security": [{ "cookieAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "closingCostsPercent": { "type": "number", "description": "Closing costs as percentage of ARV" },
                  "carryingCostsPercent": { "type": "number", "description": "Carrying costs as percentage of ARV" },
                  "wholesaleFee": { "type": "number", "description": "Wholesale fee in dollars" },
                  "desiredProfit": { "type": "number", "nullable": true, "description": "Desired profit in dollars (null for auto-calculate)" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deal params updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "closingCostsPercent": { "type": "number" },
                    "carryingCostsPercent": { "type": "number" },
                    "wholesaleFee": { "type": "number" },
                    "desiredProfit": { "type": "number", "nullable": true },
                    "updatedAt": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Evaluation Settings"],
        "summary": "Reset deal params to defaults",
        "description": "Delete the user's custom deal parameters and reset to system defaults.",
        "security": [{ "cookieAuth": [] }],
        "responses": {
          "200": {
            "description": "Reset to defaults",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "closingCostsPercent": { "type": "number", "example": 8 },
                    "carryingCostsPercent": { "type": "number", "example": 2 },
                    "wholesaleFee": { "type": "number", "example": 10000 },
                    "desiredProfit": { "type": "number", "nullable": true, "example": null }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/location-settings": {
      "get": {
        "tags": ["Evaluation Settings"],
        "summary": "List location overrides",
        "description": "Get all location-based setting overrides for the authenticated user. Optionally filter by location type.",
        "security": [{ "cookieAuth": [] }],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Filter by location type",
            "schema": { "type": "string", "enum": ["state", "city", "zip"] }
          }
        ],
        "responses": {
          "200": {
            "description": "List of location overrides",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "settings": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string", "description": "Location setting ID" },
                          "state": { "type": "string", "nullable": true, "description": "State code (e.g., FL)" },
                          "city": { "type": "string", "nullable": true, "description": "City name" },
                          "zipCode": { "type": "string", "nullable": true, "description": "ZIP code" },
                          "appraisalRules": { "type": "object", "nullable": true, "description": "Appraisal rule overrides" },
                          "rehabConfigJson": { "type": "object", "nullable": true, "description": "Rehab config overrides" },
                          "dealParamsJson": { "type": "object", "nullable": true, "description": "Deal parameter overrides" },
                          "majorItemCostsJson": { "type": "object", "nullable": true, "description": "Major item cost overrides" },
                          "createdAt": { "type": "string", "format": "date-time" },
                          "updatedAt": { "type": "string", "format": "date-time" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Evaluation Settings"],
        "summary": "Create location override",
        "description": "Create a new location-based setting override. Provide exactly one of state, city, or zipCode to define the location scope. Override fields are all optional.",
        "security": [{ "cookieAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "state": { "type": "string", "description": "State code (e.g., FL). Mutually exclusive with city and zipCode." },
                  "city": { "type": "string", "description": "City name. Mutually exclusive with state and zipCode." },
                  "zipCode": { "type": "string", "description": "ZIP code. Mutually exclusive with state and city." },
                  "appraisalRules": { "type": "object", "description": "Appraisal rule overrides (filters and adjustments)" },
                  "rehabConfigJson": { "type": "object", "description": "Rehab config overrides" },
                  "dealParamsJson": { "type": "object", "description": "Deal parameter overrides" },
                  "majorItemCostsJson": { "type": "object", "description": "Major item cost overrides" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Location override created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "setting": { "type": "object", "description": "Created location setting" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input - must provide exactly one location type",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/location-settings/{id}": {
      "patch": {
        "tags": ["Evaluation Settings"],
        "summary": "Update location override",
        "description": "Update an existing location-based setting override. Only provided fields are updated.",
        "security": [{ "cookieAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Location setting ID",
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "appraisalRules": { "type": "object", "description": "Appraisal rule overrides" },
                  "rehabConfigJson": { "type": "object", "description": "Rehab config overrides" },
                  "dealParamsJson": { "type": "object", "description": "Deal parameter overrides" },
                  "majorItemCostsJson": { "type": "object", "description": "Major item cost overrides" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Location override updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "setting": { "type": "object", "description": "Updated location setting" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "404": {
            "description": "Location setting not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Evaluation Settings"],
        "summary": "Delete location override",
        "description": "Delete a location-based setting override.",
        "security": [{ "cookieAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Location setting ID",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Location override deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "404": {
            "description": "Location setting not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/major-item-costs/defaults": {
      "get": {
        "tags": ["Evaluation Settings"],
        "summary": "Get default major item costs",
        "description": "Get the system default major item costs (e.g., roof, HVAC, plumbing). No authentication required.",
        "security": [],
        "responses": {
          "200": {
            "description": "Default major item costs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "description": "List of major items with default costs",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string", "description": "Item identifier (e.g., roof, hvac)" },
                          "name": { "type": "string", "description": "Display name" },
                          "defaultCost": { "type": "number", "description": "Default cost in dollars" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/major-item-costs": {
      "get": {
        "tags": ["Evaluation Settings"],
        "summary": "Get user's major item costs",
        "description": "Get the authenticated user's custom major item costs. Returns custom values if set, otherwise defaults.",
        "security": [{ "cookieAuth": [] }],
        "responses": {
          "200": {
            "description": "User's major item costs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "description": "List of major items with costs",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "name": { "type": "string" },
                          "cost": { "type": "number" }
                        }
                      }
                    },
                    "isCustom": { "type": "boolean", "description": "Whether these are user-customized" },
                    "updatedAt": { "type": "string", "format": "date-time", "nullable": true }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Evaluation Settings"],
        "summary": "Update major item costs",
        "description": "Update the authenticated user's major item costs.",
        "security": [{ "cookieAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["items"],
                "properties": {
                  "items": {
                    "type": "array",
                    "description": "Major items with custom costs",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string", "description": "Item identifier" },
                        "cost": { "type": "number", "description": "Custom cost in dollars" }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Major item costs updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "items": { "type": "array", "items": { "type": "object" } },
                    "isCustom": { "type": "boolean", "example": true },
                    "updatedAt": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Evaluation Settings"],
        "summary": "Reset major item costs to defaults",
        "description": "Delete the user's custom major item costs and reset to system defaults.",
        "security": [{ "cookieAuth": [] }],
        "responses": {
          "200": {
            "description": "Reset to defaults",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "items": { "type": "array", "items": { "type": "object" } },
                    "isCustom": { "type": "boolean", "example": false }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/ghl-settings/fields": {
      "get": {
        "tags": ["GHL Integration"],
        "summary": "List mappable GHL fields",
        "description": "Get a list of all available fields that can be mapped to GoHighLevel custom fields. No authentication required.",
        "security": [],
        "responses": {
          "200": {
            "description": "List of mappable fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fields": {
                      "type": "array",
                      "description": "Available fields for GHL mapping",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string", "description": "Field identifier (e.g., arv, buyPrice, rehabCost)" },
                          "label": { "type": "string", "description": "Human-readable field name" },
                          "description": { "type": "string", "description": "What this field contains" },
                          "type": { "type": "string", "description": "Data type (number, string, percentage)" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ghl-settings": {
      "get": {
        "tags": ["GHL Integration"],
        "summary": "Get GHL integration config",
        "description": "Get the authenticated user's GoHighLevel integration configuration.",
        "security": [{ "cookieAuth": [] }],
        "responses": {
          "200": {
            "description": "GHL integration settings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "apiToken": { "type": "string", "description": "GHL API token (masked)" },
                    "locationId": { "type": "string", "description": "GHL location ID" },
                    "webhookSecret": { "type": "string", "description": "Webhook secret for incoming GHL webhooks" },
                    "webhookUrl": { "type": "string", "description": "Full webhook URL to configure in GHL" },
                    "fieldMappings": { "type": "object", "description": "Custom field mappings (flowstate field ID -> GHL field ID)" },
                    "monetaryValueField": { "type": "string", "nullable": true, "description": "GHL field to use for monetary value" },
                    "isEnabled": { "type": "boolean", "description": "Whether the integration is active" },
                    "createdAt": { "type": "string", "format": "date-time" },
                    "updatedAt": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "404": {
            "description": "GHL settings not configured",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["GHL Integration"],
        "summary": "Update GHL integration config",
        "description": "Create or update the GoHighLevel integration configuration.",
        "security": [{ "cookieAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["apiToken", "locationId"],
                "properties": {
                  "apiToken": { "type": "string", "description": "GHL API token" },
                  "locationId": { "type": "string", "description": "GHL location ID" },
                  "fieldMappings": { "type": "object", "description": "Custom field mappings (flowstate field ID -> GHL field ID)" },
                  "monetaryValueField": { "type": "string", "description": "GHL field for monetary value" },
                  "isEnabled": { "type": "boolean", "default": true, "description": "Whether the integration is active" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "GHL settings saved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "webhookUrl": { "type": "string", "description": "Webhook URL to configure in GHL" },
                    "webhookSecret": { "type": "string", "description": "Generated webhook secret" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["GHL Integration"],
        "summary": "Remove GHL config",
        "description": "Delete the GoHighLevel integration configuration entirely.",
        "security": [{ "cookieAuth": [] }],
        "responses": {
          "200": {
            "description": "GHL settings removed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/ghl-settings/test": {
      "post": {
        "tags": ["GHL Integration"],
        "summary": "Test GHL connection",
        "description": "Test the GoHighLevel API connection using the configured credentials. Verifies the API token and location ID are valid.",
        "security": [{ "cookieAuth": [] }],
        "responses": {
          "200": {
            "description": "Connection test result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "description": "Whether the connection was successful" },
                    "locationName": { "type": "string", "description": "GHL location name (if successful)" },
                    "message": { "type": "string", "description": "Status message" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "404": {
            "description": "GHL settings not configured",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key from your dashboard (e.g., `fs_abc123...`)"
      },
      "cookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "better-auth.session_token",
        "description": "Session cookie from Better Auth (used for dashboard endpoints)"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean", "example": false },
          "error": { "type": "string", "example": "Property not found" },
          "code": { "type": "string", "example": "NOT_FOUND" }
        }
      },
      "AnalyzeRequest": {
        "type": "object",
        "description": "Request body for property analysis. Provide either `address`, `streetAddress` + city/state/zip, or `propertyId`.",
        "properties": {
          "address": {
            "type": "string",
            "description": "Full property address",
            "example": "123 Main St, Tampa, FL 33607"
          },
          "streetAddress": { "type": "string", "description": "Street address only" },
          "city": { "type": "string", "description": "City name" },
          "state": { "type": "string", "description": "State code (e.g., FL)" },
          "zipCode": { "type": "string", "description": "5-digit ZIP code" },
          "propertyId": { "type": "string", "description": "Property ID from a previous lookup" },
          "searchOptions": {
            "type": "object",
            "properties": {
              "radiusMiles": { "type": "number", "default": 1, "description": "Search radius for comparables" },
              "maxComps": { "type": "integer", "default": 10, "description": "Maximum comparables to return" },
              "monthsBack": { "type": "integer", "default": 12, "description": "How far back to search for sales" }
            }
          },
          "appraisalRules": {
            "type": "object",
            "description": "Custom appraisal rules",
            "properties": {
              "filters": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/AppraisalFilter" }
              },
              "adjustments": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/AppraisalAdjustment" }
              }
            }
          },
          "buybox": {
            "type": "object",
            "properties": {
              "rehabLevelIndex": { "type": "integer", "minimum": 0, "maximum": 4, "default": 2, "description": "Rehab level 0-4 (0=as-is, 4=full gut)" },
              "majorItems": { "type": "array", "items": { "$ref": "#/components/schemas/MajorItem" } },
              "additionPlay": { "type": "number", "default": 0, "description": "Additional square footage value" },
              "closingCostsPercent": { "type": "number", "default": 8, "description": "Closing costs as % of ARV" },
              "carryingCostsPercent": { "type": "number", "default": 2, "description": "Carrying costs as % of ARV" },
              "wholesaleFee": { "type": "number", "default": 10000, "description": "Wholesale fee in dollars" },
              "desiredProfit": { "type": "number", "description": "Desired profit in dollars" }
            }
          },
          "enrichment": {
            "type": "object",
            "properties": {
              "permits": { "type": "boolean", "default": true, "description": "Include permit history" },
              "floodZone": { "type": "boolean", "default": true, "description": "Include flood zone data" },
              "weatherRisk": { "type": "boolean", "default": false, "description": "Include weather risk data" }
            }
          },
          "photoAnalysis": {
            "type": "object",
            "description": "Photo fetching and AI vision analysis options",
            "properties": {
              "enabled": { "type": "boolean", "default": true, "description": "Enable photo fetching and AI vision analysis" },
              "provider": { "type": "string", "enum": ["zillow", "mls", "redfin"], "description": "Photo provider (auto-detected if not specified)" },
              "maxComps": { "type": "integer", "default": 10, "description": "Max comps to fetch photos for" },
              "requireBetterOrEqual": { "type": "boolean", "default": true, "description": "Require comps to be better than or equal to subject" }
            }
          },
          "zillowContext": {
            "type": "object",
            "description": "Zillow URL context fetching via Gemini (provides photos, description, price history)",
            "properties": {
              "enabled": { "type": "boolean", "default": true, "description": "Enable Zillow context fetching" },
              "skipCache": { "type": "boolean", "default": false, "description": "Skip cache and fetch fresh data" },
              "maxComps": { "type": "integer", "default": 10, "description": "Max comps to fetch Zillow data for" }
            }
          },
          "skipCache": { "type": "boolean", "default": false, "description": "Skip cache and fetch fresh data from APIs" }
        }
      },
      "AppraisalFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["subdivision_match", "sale_age", "sqft_diff", "property_type", "year_built_diff", "distance"],
            "description": "Filter type"
          },
          "enabled": { "type": "boolean", "description": "Whether this filter is active" },
          "value": { "type": "number", "description": "Filter threshold value" }
        }
      },
      "AppraisalAdjustment": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["old_comp_discount", "bedroom", "bathroom", "pool", "garage", "carport"],
            "description": "Adjustment type"
          },
          "enabled": { "type": "boolean", "description": "Whether this adjustment is active" },
          "amount": { "type": "number", "description": "Dollar amount adjustment" },
          "percent": { "type": "number", "description": "Percentage adjustment (for old_comp_discount)" }
        }
      },
      "MajorItem": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "enabled": { "type": "boolean" },
          "cost": { "type": "number" }
        }
      },
      "QueueJobResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean", "example": true },
          "data": {
            "type": "object",
            "properties": {
              "jobId": { "type": "string", "example": "job_1708123456789_abc1234" },
              "propertyKey": { "type": "string", "description": "Property key for status lookup" },
              "status": { "type": "string", "enum": ["queued"], "example": "queued" },
              "streamUrl": { "type": "string", "description": "SSE URL for real-time updates" },
              "pollUrl": { "type": "string", "description": "HTTP URL for polling status" },
              "estimatedDurationMs": { "type": "integer", "example": 15000, "description": "Estimated job duration in milliseconds" }
            }
          }
        }
      },
      "JobStatusResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "data": {
            "type": "object",
            "properties": {
              "jobId": { "type": "string" },
              "status": { "type": "string", "enum": ["queued", "running", "completed", "failed"] },
              "progress": { "type": "number", "minimum": 0, "maximum": 100 },
              "currentStep": { "type": "string" },
              "result": { "type": "object", "description": "Analysis result (when completed)" },
              "error": { "type": "string", "description": "Error message (when failed)" }
            }
          }
        }
      },
      "AnalyzeDefaultsResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean", "example": true },
          "data": {
            "type": "object",
            "properties": {
              "searchOptions": {
                "type": "object",
                "properties": {
                  "radiusMiles": { "type": "number", "example": 1 },
                  "maxComps": { "type": "integer", "example": 10 },
                  "monthsBack": { "type": "integer", "example": 12 }
                }
              },
              "appraisalRules": {
                "type": "object",
                "properties": {
                  "filters": { "type": "array", "items": { "$ref": "#/components/schemas/AppraisalFilter" } },
                  "adjustments": { "type": "array", "items": { "$ref": "#/components/schemas/AppraisalAdjustment" } }
                }
              },
              "buybox": {
                "type": "object",
                "properties": {
                  "rehabLevelIndex": { "type": "integer", "example": 2 },
                  "closingCostsPercent": { "type": "number", "example": 8 },
                  "carryingCostsPercent": { "type": "number", "example": 2 },
                  "wholesaleFee": { "type": "number", "example": 10000 }
                }
              },
              "enrichment": {
                "type": "object",
                "properties": {
                  "permits": { "type": "boolean", "example": true },
                  "floodZone": { "type": "boolean", "example": true },
                  "weatherRisk": { "type": "boolean", "example": false }
                }
              },
              "photoAnalysis": {
                "type": "object",
                "properties": {
                  "enabled": { "type": "boolean", "example": true },
                  "maxComps": { "type": "integer", "example": 10 },
                  "requireBetterOrEqual": { "type": "boolean", "example": true }
                }
              },
              "zillowContext": {
                "type": "object",
                "properties": {
                  "enabled": { "type": "boolean", "example": true },
                  "skipCache": { "type": "boolean", "example": false },
                  "maxComps": { "type": "integer", "example": 10 }
                }
              },
              "rehabLevels": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "index": { "type": "integer" },
                    "name": { "type": "string" }
                  }
                }
              },
              "majorItems": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string" },
                    "name": { "type": "string" },
                    "defaultCost": { "type": "number" }
                  }
                }
              }
            }
          }
        }
      },
      "UserProfile": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string", "nullable": true },
          "email": { "type": "string", "format": "email" },
          "emailVerified": { "type": "boolean" },
          "plan": { "type": "string", "enum": ["free", "pro", "enterprise"] },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "ApiKey": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "keyPrefix": { "type": "string", "example": "fs_abc123..." },
          "currentUsage": { "type": "integer" },
          "monthlyQuota": { "type": "integer", "nullable": true },
          "quotaResetAt": { "type": "string", "format": "date-time" },
          "isActive": { "type": "boolean" },
          "lastUsedAt": { "type": "string", "format": "date-time", "nullable": true },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "UsageSummary": {
        "type": "object",
        "properties": {
          "plan": { "type": "string", "enum": ["free", "pro", "enterprise"] },
          "monthlyLimit": { "type": "integer", "description": "-1 for unlimited" },
          "currentUsage": { "type": "integer" },
          "remaining": { "type": "integer", "description": "-1 for unlimited" },
          "resetDate": { "type": "string", "format": "date-time" }
        }
      },
      "UsageLog": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "endpoint": { "type": "string" },
          "method": { "type": "string" },
          "statusCode": { "type": "integer" },
          "responseTimeMs": { "type": "integer" },
          "propertyAddress": { "type": "string", "nullable": true },
          "propertyCity": { "type": "string", "nullable": true },
          "propertyState": { "type": "string", "nullable": true },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "UsageLogDetail": {
        "type": "object",
        "description": "Full usage log entry with all fields"
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": { "type": "integer" },
          "limit": { "type": "integer" },
          "total": { "type": "integer" },
          "totalPages": { "type": "integer" }
        }
      },
      "AppraisalPreset": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "userId": { "type": "string" },
          "name": { "type": "string", "example": "My Standard Rules" },
          "description": { "type": "string", "nullable": true },
          "isDefault": { "type": "boolean" },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" },
          "filters": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/PresetFilter" }
          },
          "adjustments": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/PresetAdjustment" }
          }
        }
      },
      "PresetFilter": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "presetId": { "type": "string", "format": "uuid" },
          "filterType": {
            "type": "string",
            "enum": ["subdivision_match", "sale_age", "sqft_diff", "property_type", "year_built_diff", "distance"]
          },
          "enabled": { "type": "boolean" },
          "value": { "type": "number" },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "PresetAdjustment": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "presetId": { "type": "string", "format": "uuid" },
          "adjustmentType": {
            "type": "string",
            "enum": ["old_comp_discount", "bedroom", "bathroom", "pool", "garage", "carport"]
          },
          "enabled": { "type": "boolean" },
          "amount": { "type": "number" },
          "percentage": { "type": "number" },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "CreatePresetInput": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": { "type": "string", "description": "Preset name (required)" },
          "description": { "type": "string" },
          "isDefault": { "type": "boolean", "default": false },
          "filters": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/FilterInput" }
          },
          "adjustments": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/AdjustmentInput" }
          }
        }
      },
      "UpdatePresetInput": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "description": { "type": "string" },
          "isDefault": { "type": "boolean" },
          "filters": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/FilterInput" }
          },
          "adjustments": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/AdjustmentInput" }
          }
        }
[...]
